amf-client/js/src/test/* linguist-vendored
amf-client/jvm/src/test/* linguist-vendored
amf-cli/shared/src/test/* linguist-vendored
amf-tools/jvm/src/test/* linguist-vendored
amf-validation/js/src/test/* linguist-vendored
amf-validation/jvm/src/test/* linguist-vendored
amf-validation/shared/src/test/* linguist-vendored
amf-webapi/js/src/test/* linguist-vendored
amf-webapi/jvm/src/test/* linguist-vendored
amf-webapi/shared/src/test/* linguist-vendored
amf-client/js/src/main/resources/* linguist-vendored
amf-validation/js/src/main/resources/* linguist-vendored
amf-webapi/js/src/main/resources/* linguist-vendored
amf-client/js/typings/* linguist-generated=true
