target/
output/
*.iml
*.swp
.idea
.classpath
.project
.settings
*.ipr
*.iws
.DS_Store
classes
.gradle
build/
usage/jsClient/node_modules/
usage/jvmClient/out
usage/site/node_modules/
usage/site/build/
amf-client/js/amf.js
amf-client/amf.js
buildbrowser.sh
.metals/
.vscode/

# For local development when using "npm link"
amf-client/js/node_modules/
!amf-client/js/node_modules/@mulesoft/
amf-client/js/package-lock.json
