amf-client/js/src/test/*
amf-client/jvm/src/test/*
amf-client/shared/src/test/*
amf-tools/jvm/src/test/*
amf-validation/js/src/test/*
amf-validation/jvm/src/test/*
amf-validation/shared/src/test/*
amf-webapi/js/src/test/*
amf-webapi/jvm/src/test/*
amf-webapi/shared/src/test/*