#%RAML 1.0
title: "Fieldnation RESTful API V2"
version: "2.0.0"
protocols:
- "HTTPS"
baseUri: "https://api.fieldnation.com/api/rest/v2"
mediaType:
- "application/json"
types:
  AttachmentConflict:
    type: "object"
    properties:
      status:
        type: "string"
        enum:
        - "unique"
        - "duplicate"
        required: false
      work_order_id:
        type: "integer"
        required: false
      conflicts:
        type: "array"
        required: false
        items:
          type: "integer"
  Assignee:
    type: "object"
    properties:
      correlation_id:
        type: "string"
        required: false
      role:
        type: "string"
        required: false
      user:
        type: "User"
        required: false
      work_order_id:
        type: "integer"
        required: false
      status_id:
        type: "integer"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "unassign"
          - "ready_to_go"
      reason_id:
        type: "integer"
        required: false
      comment:
        type: "string"
        required: false
  AutoDispatch:
    type: "object"
    properties:
      work_order_ids:
        type: "array"
        required: false
        items:
          type: "integer"
      selection_rule_id:
        type: "integer"
        required: false
      delay:
        type: "integer"
        required: false
      w2_skippub:
        type: "boolean"
        required: false
      w2_failswitch:
        type: "boolean"
        required: false
      should_route:
        type: "boolean"
        required: false
  CompanyRating:
    type: "object"
    properties:
      rating:
        type: "object"
        required: false
        properties:
          marketplace:
            type: "Satisfaction"
            required: false
          mine:
            type: "Satisfaction"
            required: false
          toggle_visible:
            type: "boolean"
            required: false
  BackgroundCheck:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      updated:
        type: "string"
        required: false
      expires:
        type: "string"
        required: false
      highlights:
        type: "array"
        required: false
        items:
          type: "string"
  Banner:
    type: "array"
    items:
      type: "object"
      properties:
        id:
          type: "integer"
          required: false
        user_id:
          type: "integer"
          required: false
        image:
          type: "string"
          required: false
        href:
          type: "string"
          required: false
        deleted:
          type: "boolean"
          required: false
        author:
          type: "User"
          required: false
        groups:
          type: "array"
          required: false
          items:
            type: "integer"
        company_ids:
          type: "array"
          required: false
          items:
            type: "integer"
        created_at:
          type: "Utc"
          required: false
        starts_at:
          type: "Utc"
          required: false
        ends_at:
          type: "Utc"
          required: false
  Block:
    type: "object"
    properties:
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
          - "delete"
      blocked:
        type: "boolean"
        required: false
      created:
        type: "Date"
        required: false
      author:
        type: "User"
        required: false
      reason_id:
        type: "integer"
        required: false
      reason:
        type: "string"
        required: false
      category:
        type: "string"
        required: false
      types:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "work_order"
          - "company"
          - "client"
          - "location"
          - "project"
          - "service_company"
  ClientRequest:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      source:
        type: "string"
        enum:
        - "portal"
        - "scrape"
        - "email"
        required: false
  Educations:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Education"
  ListEnvelope:
    type: "object"
    properties:
      total:
        type: "integer"
        required: false
      page:
        type: "integer"
        required: false
      pages:
        type: "integer"
        required: false
      per_page:
        type: "integer"
        required: false
      columns:
        type: "string"
        required: false
      available_columns:
        type: "array"
        required: false
        items:
          type: "AvailableColumn"
      list:
        type: "string"
        required: false
      view:
        type: "string"
        enum:
        - "map"
        - "list"
        - "schedule"
        - "model"
        - "card"
        required: false
      sort:
        type: "string"
        required: false
      order:
        type: "string"
        enum:
        - "asc"
        - "desc"
        required: false
      timings:
        type: "array"
        required: false
        items:
          type: "object"
          properties:
            name:
              type: "string"
              required: false
            time:
              type: "integer"
              required: false
  Pay:
    type: "object"
    properties:
      work_order_id:
        type: "integer"
        required: false
      type:
        type: "string"
        enum:
        - ""
        - "hourly"
        - "fixed"
        - "device"
        - "blended"
        required: false
      correlation_id:
        type: "string"
        required: false
      role:
        type: "string"
        required: false
      minimum_payment:
        type: "number"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
          - "print"
          - "view"
      base:
        type: "object"
        required: false
        properties:
          units:
            type: "number"
            required: false
          amount:
            type: "number"
            required: false
      additional:
        type: "object"
        required: false
        properties:
          units:
            type: "number"
            required: false
          amount:
            type: "number"
            required: false
      finance:
        type: "object"
        required: false
        properties:
          id:
            type: "integer"
            required: false
          terms:
            type: "string"
            required: false
          description:
            type: "string"
            required: false
          limit:
            type: "number"
            required: false
      range:
        type: "object"
        required: false
        properties:
          min:
            type: "number"
            required: false
          max:
            type: "number"
            required: false
      pricing_insights:
        type: "PricingInsights"
        required: false
      reported_hours:
        type: "number"
        required: false
      number_of_devices:
        type: "number"
        required: false
      labor_sum:
        type: "number"
        required: false
      total:
        type: "number"
        required: false
      estimated_payment_date:
        type: "Date"
        required: false
      hold:
        type: "PayModifier"
        required: false
      payment:
        type: "PayModifier"
        required: false
      fees:
        type: "array"
        required: false
        items:
          type: "PayModifier"
      bonuses:
        type: "PayModifiers"
        required: false
      penalties:
        type: "PayModifiers"
        required: false
      discounts:
        type: "PayModifiers"
        required: false
      expenses:
        type: "Expenses"
        required: false
      increases:
        type: "PayIncreases"
        required: false
      max_pay:
        type: "number"
        required: false
      term:
        type: "object"
        required: false
        properties:
          id:
            type: "string"
            required: false
          explanation:
            type: "string"
            required: false
  PricingInsights:
    type: "object"
    properties:
      region:
        type: "object"
        required: false
        properties:
          name:
            type: "string"
            required: false
          id:
            type: "integer"
            required: false
          distance:
            type: "number"
            required: false
          providers:
            type: "object"
            required: false
            properties:
              marketplace:
                type: "integer"
                required: false
          average_rate:
            type: "object"
            required: false
            properties:
              first_quartile:
                type: "number"
                required: false
              median:
                type: "number"
                required: false
              third_quartile:
                type: "number"
                required: false
  ProviderRatings:
    type: "object"
    properties:
      ratings:
        type: "integer"
        required: false
      stars:
        type: "number"
        required: false
      categories:
        type: "array"
        required: false
        items:
          type: "object"
          properties:
            type:
              type: "string"
              required: false
            percent:
              type: "integer"
              required: false
  Requests:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
          - "counter_offer"
      open_request:
        type: "Request"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Request"
  StoredLocation:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      company:
        type: "Company"
        required: false
      group:
        type: "LocationGroup"
        required: false
      type:
        type: "LocationType"
        required: false
      address1:
        type: "string"
        required: false
      address2:
        type: "string"
        required: false
      city:
        type: "string"
        required: false
      state:
        type: "string"
        required: false
      zip:
        type: "string"
        required: false
      country:
        type: "string"
        required: false
      time_zone:
        type: "TimeZone"
        required: false
      contact:
        type: "Contact"
        required: false
      notes:
        type: "LocationNotes"
        required: false
      active:
        type: "boolean"
        required: false
      client:
        type: "Company"
        required: false
      geo:
        type: "Coords"
        required: false
      attributes:
        type: "array"
        required: false
        items:
          type: "LocationAttribute"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
  Schedule:
    type: "object"
    properties:
      work_order_id:
        type: "integer"
        required: false
      correlation_id:
        type: "string"
        required: false
      today_tomorrow:
        type: "string"
        enum:
        - "Today"
        - "Tomorrow"
        - ""
        required: false
      service_window:
        type: "object"
        required: false
        properties:
          start:
            type: "Date"
            required: false
          end:
            type: "Date"
            required: false
          mode:
            type: "string"
            enum:
            - "hours"
            - "between"
            - "exact"
            required: false
      on_my_way:
        type: "OnMyWay"
        required: false
      time_zone:
        type: "TimeZone"
        required: false
      role:
        type: "string"
        required: false
      status_id:
        type: "integer"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
      no_refresh:
        type: "boolean"
        required: false
  Shipment:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      user:
        type: "User"
        required: false
      name:
        type: "string"
        required: false
      direction:
        type: "string"
        enum:
        - "to site"
        - "from site"
        required: false
      carrier:
        type: "object"
        required: false
        properties:
          name:
            type: "string"
            enum:
            - "fedex"
            - "ups"
            - "usps"
            - "other"
            required: false
          other:
            type: "string"
            required: false
          tracking:
            type: "string"
            required: false
          arrival:
            type: "Date"
            required: false
          arrived:
            type: "Date"
            required: false
      created:
        type: "Date"
        required: false
      task:
        type: "object"
        required: false
        properties:
          id:
            type: "integer"
            required: false
      status:
        type: "string"
        enum:
        - "Arrived"
        - "En Route"
        - "Error"
        - "Lost"
        - "New"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
          - "delete"
  Shipments:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Shipment"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
  SelectionRule:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      metadata:
        type: "ListEnvelope"
        required: false
      sum:
        type: "object"
        required: false
        properties:
          match:
            type: "integer"
            required: false
          no_match_optional:
            type: "integer"
            required: false
          no_match_required:
            type: "integer"
            required: false
          total:
            type: "integer"
            required: false
      status:
        type: "string"
        enum:
        - "no_match_optional"
        - "no_match_required"
        - "match"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "delete"
      results:
        type: "array"
        required: false
        items:
          type: "SelectionRuleCriteria"
  ServiceContract:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
  Swaps:
    type: "object"
    properties:
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Swap"
      correlation_id:
        type: "string"
        required: false
  Swap:
    type: "object"
    properties:
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "accept"
          - "deny"
          - "delete"
      id:
        type: "integer"
        required: false
      description:
        type: "string"
        required: false
      status:
        type: "string"
        enum:
        - "accepted"
        - "denied"
        - "pending"
        required: false
      from:
        type: "User"
        required: false
      to:
        type: "User"
        required: false
      requestor:
        type: "User"
        required: false
      actor:
        type: "User"
        required: false
      created:
        type: "Date"
        required: false
      accepted:
        type: "Date"
        required: false
      denied:
        type: "Date"
        required: false
  ServiceContracts:
    type: "array"
    items:
      type: "object"
      properties:
        value:
          type: "integer"
          required: false
        label:
          type: "string"
          required: false
  Tags:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Tag"
      correlation_id:
        type: "string"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
  Tag:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      author:
        type: "User"
        required: false
      created:
        type: "Date"
        required: false
      label:
        type: "string"
        required: false
      hex_color:
        type: "string"
        required: false
      types:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "substatus"
          - "hold"
          - "problem"
          - "show_in_dashboard"
          - "hide_from_provider"
          - "custom_company"
          - "provider_can_edit"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "delete"
          - "edit"
      valid_statuses:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "created"
          - "published"
          - "routed"
          - "assigned"
          - "workdone"
          - "approved"
          - "paid"
          - "canceled"
  Template:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
  TypeOfWork:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      industry:
        type: "string"
        required: false
      name:
        type: "string"
        required: false
  Team:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
  WorkflowCompletion:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "string"
      status:
        type: "string"
        enum:
        - "invalid"
        - "valid"
        required: false
  WorkOrderOverviewValues:
    type: "object"
    properties:
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
          - "service_contracts"
          - "networks"
          - "teams"
      team_id:
        type: "integer"
        required: false
      client_id:
        type: "integer"
        required: false
      project_id:
        type: "integer"
        required: false
      service_contract_id:
        type: "integer"
        required: false
      type_of_work_id:
        type: "integer"
        required: false
      network_id:
        type: "array"
        required: false
        items:
          type: "integer"
      clients:
        type: "array"
        required: false
        items:
          type: "object"
          properties:
            value:
              type: "integer"
              required: false
            label:
              type: "string"
              required: false
      projects:
        type: "array"
        required: false
        items:
          type: "object"
          properties:
            value:
              type: "integer"
              required: false
            label:
              type: "string"
              required: false
      networks:
        type: "array"
        required: false
        items:
          type: "object"
          properties:
            value:
              type: "integer"
              required: false
            label:
              type: "string"
              required: false
      service_contracts:
        type: "array"
        required: false
        items:
          type: "object"
          properties:
            value:
              type: "integer"
              required: false
            label:
              type: "string"
              required: false
      types_of_work:
        type: "array"
        required: false
        items:
          type: "object"
          properties:
            value:
              type: "integer"
              required: false
            label:
              type: "string"
              required: false
      teams:
        type: "array"
        required: false
        items:
          type: "object"
          properties:
            value:
              type: "integer"
              required: false
            label:
              type: "string"
              required: false
  WorkOrderOverview:
    type: "object"
    properties:
      type_of_work:
        type: "object"
        required: false
        properties:
          company:
            type: "object"
            required: false
            properties:
              jobs:
                type: "integer"
                required: false
              average_hourly_rate:
                type: "number"
                required: false
              average_duration:
                type: "number"
                required: false
          marketplace:
            type: "object"
            required: false
            properties:
              average_hourly_rate:
                type: "number"
                required: false
              average_duration:
                type: "number"
                required: false
      company:
        type: "object"
        required: false
        properties:
          average_duration:
            type: "integer"
            required: false
          jobs:
            type: "integer"
            required: false
          paid:
            type: "number"
            required: false
          percent_counters:
            type: "number"
            required: false
          percent_expenses:
            type: "number"
            required: false
          active_jobs:
            type: "integer"
            required: false
          cancelled_jobs:
            type: "integer"
            required: false
  WorkOrderRatings:
    type: "object"
    properties:
      correlation_id:
        type: "string"
        required: false
      buyer:
        type: "object"
        required: false
        properties:
          actions:
            type: "array"
            required: false
            items:
              type: "string"
              enum:
              - "add"
              - "edit"
          manager:
            type: "User"
            required: false
          company:
            type: "object"
            required: false
            properties:
              id:
                type: "integer"
                required: false
          overall:
            type: "object"
            required: false
            properties:
              ratings:
                type: "integer"
                required: false
              stars:
                type: "number"
                required: false
              jobs:
                type: "integer"
                required: false
              percent_clear_expectations:
                type: "integer"
                required: false
              percent_respectful:
                type: "integer"
                required: false
              approval_days:
                type: "integer"
                required: false
              approval_period:
                type: "integer"
                required: false
              percent_approval:
                type: "array"
                required: false
                items:
                  type: "object"
                  properties:
                    days:
                      type: "integer"
                      required: false
                    percent:
                      type: "integer"
                      required: false
          work_order:
            type: "object"
            required: false
            properties:
              created:
                type: "Date"
                required: false
              stars:
                type: "integer"
                required: false
              recommend:
                type: "boolean"
                required: false
              comment:
                type: "string"
                required: false
              hidden:
                type: "boolean"
                required: false
              flagged:
                type: "boolean"
                required: false
              form:
                type: "string"
                enum:
                - "old"
                - "new"
                required: false
              categories:
                type: "array"
                required: false
                items:
                  type: "object"
                  properties:
                    type:
                      type: "string"
                      enum:
                      - "professionalism"
                      - "scope"
                      - "respect"
                      required: false
                    rating:
                      type: "integer"
                      required: false
          blocks:
            type: "Block"
            required: false
      assigned_provider:
        type: "object"
        required: false
        properties:
          actions:
            type: "array"
            required: false
            items:
              type: "string"
              enum:
              - "add"
              - "edit"
              - "delete"
          user:
            type: "User"
            required: false
          work_order:
            type: "object"
            required: false
            properties:
              created:
                type: "Date"
                required: false
              stars:
                type: "integer"
                required: false
              categories:
                type: "array"
                required: false
                items:
                  type: "object"
                  properties:
                    type:
                      type: "string"
                      enum:
                      - "on_time"
                      - "follow_instructions"
                      - "assignment_fulfilled"
                      - "right_deliverables"
                      required: false
                    value:
                      type: "integer"
                      required: false
              comment:
                type: "object"
                required: false
                properties:
                  message:
                    type: "string"
                    required: false
                  private:
                    type: "boolean"
                    required: false
          overall:
            type: "object"
            required: false
            properties:
              company:
                type: "ProviderRatings"
                required: false
              marketplace:
                type: "ProviderRatings"
                required: false
          blocks:
            type: "Block"
            required: false
      service_company:
        type: "object"
        required: false
        properties:
          overall:
            type: "object"
            required: false
            properties:
              ratings:
                type: "integer"
                required: false
              stars:
                type: "number"
                required: false
              penalized:
                type: "boolean"
                required: false
              categories:
                type: "array"
                required: false
                items:
                  type: "object"
                  properties:
                    type:
                      type: "string"
                      required: false
                    percent:
                      type: "integer"
                      required: false
  ExpenseCategories:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
      results:
        type: "array"
        required: false
        items:
          type: "ExpenseCategory"
  Integration:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      href:
        type: "string"
        required: false
  Problem:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      type:
        type: "ProblemType"
        required: false
      comments:
        type: "string"
        required: false
      contact:
        type: "string"
        enum:
        - "support"
        - "buyer"
        - "provider"
        - "all"
        required: false
      watchers:
        type: "array"
        required: false
        items:
          type: "integer"
      escalate:
        type: "boolean"
        required: false
      resolution:
        type: "object"
        required: false
        properties:
          status:
            type: "string"
            enum:
            - "resolved"
            - "open"
            required: false
          at:
            type: "Date"
            required: false
          by:
            type: "User"
            required: false
          allowed_resolvers:
            type: "array"
            required: false
            items:
              type: "string"
              enum:
              - "support"
              - "buyer"
              - "assigned_provider"
      author:
        type: "User"
        required: false
      created:
        type: "Date"
        required: false
      message:
        type: "object"
        required: false
        properties:
          id:
            type: "integer"
            required: false
  ProblemType:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      has_other:
        type: "boolean"
        required: false
      other:
        type: "string"
        required: false
      performance_event:
        type: "boolean"
        required: false
      file_with_support:
        type: "boolean"
        required: false
      show_pqap_warning:
        type: "boolean"
        required: false
      children:
        type: "array"
        required: false
        items:
          type: "ProblemType"
  Problems:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Problem"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
          - "resolve"
          - "edit"
          - "delete"
          - "reopen"
          - "view_message"
      types:
        type: "array"
        required: false
        items:
          type: "ProblemType"
      sum:
        type: "object"
        required: false
        properties:
          resolved:
            type: "integer"
            required: false
          unresolved:
            type: "integer"
            required: false
  ProfileAndWorkHistory:
    type: "object"
    properties:
      rating:
        type: "object"
        required: false
        properties:
          profile:
            type: "User"
            required: false
          work_history:
            type: "WorkHistory"
            required: false
          more_results:
            type: "boolean"
            required: false
  Rating:
    type: "object"
    properties:
      stars:
        type: "number"
        required: false
      total_ratings:
        type: "integer"
        required: false
      on_time_percent:
        type: "number"
        required: false
      follow_instructions_percent:
        type: "number"
        required: false
      assignment_fulfilled_percent:
        type: "number"
        required: false
      right_deliverables_percent:
        type: "number"
        required: false
      days90:
        type: "object"
        required: false
        properties:
          stars:
            type: "number"
            required: false
          total_ratings:
            type: "integer"
            required: false
          on_time_percent:
            type: "number"
            required: false
          follow_instructions_percent:
            type: "number"
            required: false
          assignment_fulfilled_percent:
            type: "number"
            required: false
          right_deliverables_percent:
            type: "number"
            required: false
      days180:
        type: "object"
        required: false
        properties:
          stars:
            type: "number"
            required: false
          total_ratings:
            type: "integer"
            required: false
          on_time_percent:
            type: "number"
            required: false
          follow_instructions_percent:
            type: "number"
            required: false
          assignment_fulfilled_percent:
            type: "number"
            required: false
          right_deliverables_percent:
            type: "number"
            required: false
      company:
        type: "object"
        required: false
        properties:
          marketplace:
            type: "object"
            required: false
            properties:
              stars:
                type: "number"
                required: false
              clear_expectations:
                type: "integer"
                required: false
              respect_rating:
                type: "integer"
                required: false
              average_days_to_approval:
                type: "integer"
                required: false
              total_ratings:
                type: "integer"
                required: false
          mine:
            type: "object"
            required: false
            properties:
              stars:
                type: "number"
                required: false
              clear_expectations:
                type: "integer"
                required: false
              respect_rating:
                type: "integer"
                required: false
              average_days_to_approval:
                type: "integer"
                required: false
              total_ratings:
                type: "integer"
                required: false
          blocked:
            type: "boolean"
            required: false
          work_completed:
            type: "integer"
            required: false
  LocationProviders:
    type: "object"
    properties:
      results:
        type: "array"
        required: false
        items:
          type: "User"
      location_id:
        type: "integer"
        required: false
  Satisfaction:
    type: "object"
    properties:
      stars:
        type: "number"
        required: false
      clear_expectation:
        type: "integer"
        required: false
      respect_rating:
        type: "integer"
        required: false
      average_days_to_approval:
        type: "integer"
        required: false
      total_ratings:
        type: "integer"
        required: false
  Qualifications:
    type: "object"
    properties:
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
          - "add"
      selection_rule:
        type: "SelectionRule"
        required: false
  SelectionRuleCriteria:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        enum:
        - "SC_CERTIFICATION"
        - "SC_SERVICE_CATEGORY"
        - "SC_SERVICE_CATEGORY_OF_WORKORDER"
        - "SC_AMOUNT_CURRENTLY_ASSIGNED"
        - "SC_AMOUNT_COMPLETED_FOR_ALL_COMPANIES"
        - "SC_AMOUNT_COMPLETED_FOR_MY_COMPANY"
        - "SC_DISTANCE_FROM_WORK_ORDER"
        - "SC_CUSTOM_PROVIDER_FIELDS"
        - "SC_MY_TECHNICIAN_GROUP"
        - "SC_OVERALL_RATING"
        - "SC_PROVIDER_AND_WORK_ORDER"
        - "SC_INSURANCE"
        - "SC_BACKGROUND_CHECK"
        - "SC_DRUG_TEST"
        - "SC_ASSIGNED_BEFORE"
        - "SC_ASSIGNED_NEARBY"
        - "SC_REQUESTED"
        - "SC_RECENTLY_MATCHED_WO"
        - "SC_VERIFICATION"
        - "SC_BLOCK_RATIO"
        - "SC_CANCEL_RATIO"
        - "SC_STAR_BASED_RATING"
        - "SC_PROTEC_PROVIDER"
        - "SC_EQUIPMENT"
        - "SC_TYPE_OF_WORK"
        - "SC_PHONE_INTERVIEW"
        - "SC_PHONE_CALL_BUYER"
        - "SC_DISCLOSE_ADDRESS"
        required: false
      service:
        type: "string"
        required: false
      description:
        type: "string"
        required: false
      required:
        type: "boolean"
        required: false
      weight:
        type: "integer"
        required: false
      operation:
        type: "string"
        enum:
        - "equal_to"
        - "greater_than"
        - "less_than"
        - "not_equal_to"
        required: false
      status:
        type: "string"
        enum:
        - "no_match_optional"
        - "no_match_required"
        - "match"
        required: false
      value:
        type: "string"
        required: false
      order:
        type: "integer"
        required: false
      custom_field:
        type: "CustomField"
        required: false
      extra:
        type: "string"
        required: false
  SelectionRules:
    type: "array"
    items:
      type: "object"
      properties:
        id:
          type: "integer"
          required: false
        name:
          type: "string"
          required: false
  EtaMassAcceptWithLocation:
    type: "object"
    properties:
      work_order_id:
        type: "integer"
        required: false
      title:
        type: "string"
        required: false
      bundle:
        type: "Bundle"
        required: false
      schedule:
        type: "Schedule"
        required: false
      location:
        type: "Location"
        required: false
  EtaMassAccept:
    type: "object"
    properties:
      work_order_id:
        type: "integer"
        required: false
      bundle_id:
        type: "integer"
        required: false
      start:
        type: "Date"
        required: false
      hour_estimate:
        type: "number"
        required: false
      notes:
        type: "string"
        required: false
  Robocall:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      label:
        type: "string"
        required: false
  Robocalls:
    type: "object"
    properties:
      results:
        type: "array"
        required: false
        items:
          type: "Robocall"
  EmailTemplate:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      label:
        type: "string"
        required: false
  EmailTemplates:
    type: "object"
    properties:
      results:
        type: "array"
        required: false
        items:
          type: "EmailTemplate"
  Expense:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      description:
        type: "string"
        required: false
      quantity:
        type: "number"
        required: false
      status:
        type: "string"
        enum:
        - "new"
        - "approved"
        - "disapproved"
        required: false
      status_description:
        type: "string"
        required: false
      category:
        type: "object"
        required: false
        properties:
          id:
            type: "integer"
            required: false
          name:
            type: "string"
            required: false
      added:
        type: "Date"
        required: false
      author:
        type: "User"
        required: false
      company_expense:
        type: "object"
        required: false
        properties:
          id:
            type: "integer"
            required: false
          expense_amount:
            type: "number"
            required: false
          hidden_tags:
            type: "string"
            required: false
          api_code:
            type: "string"
            required: false
          description:
            type: "string"
            required: false
      amount:
        type: "number"
        required: false
      reason:
        type: "string"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
          - "delete"
          - "approve"
          - "deny"
          - "reopen"
  Expenses:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      sum:
        type: "object"
        required: false
        properties:
          all:
            type: "number"
            required: false
          charged:
            type: "number"
            required: false
          uncharged:
            type: "number"
            required: false
      results:
        type: "array"
        required: false
        items:
          type: "Expense"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
  Cancellation:
    type: "object"
    properties:
      cancel_reason:
        type: "integer"
        required: false
      message_to_provider:
        type: "string"
        required: false
      notes:
        type: "string"
        required: false
      cancel_request_not_charge:
        type: "boolean"
        required: false
  TypesOfWork:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "TypeOfWork"
  Education:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      school_name:
        type: "string"
        required: false
      degree:
        type: "string"
        required: false
      field_of_study:
        type: "string"
        required: false
      start:
        type: "Date"
        required: false
      end:
        type: "Date"
        required: false
  Certification:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      term_id:
        type: "integer"
        required: false
      number:
        type: "string"
        required: false
  Certifications:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Certification"
  License:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      number:
        type: "string"
        required: false
  ExpenseCategory:
    type: "object"
    properties:
      uid:
        type: "integer"
        required: false
      id:
        type: "integer"
        required: false
      company_expense_id:
        type: "integer"
        required: false
      label:
        type: "string"
        required: false
      description:
        type: "string"
        required: false
      type:
        type: "string"
        enum:
        - "system"
        - "custom"
        required: false
      amount:
        type: "number"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
          - "delete"
  Licenses:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "License"
  UserNote:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      note:
        type: "string"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
          - "delete"
  UserNotes:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
      results:
        type: "array"
        required: false
        items:
          type: "UserNote"
  Experience:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      company:
        type: "string"
        required: false
      title:
        type: "string"
        required: false
      description:
        type: "string"
        required: false
      location:
        type: "string"
        required: false
      start:
        type: "Date"
        required: false
      end:
        type: "Date"
        required: false
  Experiences:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Experience"
  UserTaxInfoUpdate:
    type: "object"
    properties:
      first_name:
        type: "string"
        required: false
      last_name:
        type: "string"
        required: false
      phone:
        type: "string"
        required: false
      name:
        type: "string"
        required: false
      business_name:
        type: "string"
        required: false
      entity_type:
        type: "string"
        required: false
      other:
        type: "string"
        required: false
      address1:
        type: "string"
        required: false
      address2:
        type: "string"
        required: false
      city:
        type: "string"
        required: false
      state:
        type: "string"
        required: false
      zip:
        type: "integer"
        required: false
      has_ein:
        type: "integer"
        required: false
      tin:
        type: "string"
        required: false
      electronic_consent:
        type: "integer"
        required: false
      has_separate_tax:
        type: "integer"
        required: false
      technician_w9_status_id:
        type: "integer"
        required: false
      company_id:
        type: "integer"
        required: false
      from_vendor_buyer_invite:
        type: "integer"
        required: false
      buyer_company_id:
        type: "integer"
        required: false
      vendor_company_id:
        type: "integer"
        required: false
  TechnicianW9Status:
    type: "object"
    properties:
      status_name:
        type: "string"
        required: false
      technician_w9_status_id:
        type: "integer"
        required: false
  UserTaxInfo:
    type: "object"
    properties:
      user_id:
        type: "integer"
        required: false
      first_name:
        type: "string"
        required: false
      last_name:
        type: "string"
        required: false
      phone:
        type: "string"
        required: false
      tech_w9_id:
        type: "integer"
        required: false
      tech_user_id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      business_name:
        type: "string"
        required: false
      entity_type:
        type: "string"
        required: false
      other:
        type: "string"
        required: false
      address1:
        type: "string"
        required: false
      address2:
        type: "string"
        required: false
      city:
        type: "string"
        required: false
      state:
        type: "string"
        required: false
      zip:
        type: "integer"
        required: false
      has_ein:
        type: "integer"
        required: false
      tin:
        type: "string"
        required: false
      electronic_consent:
        type: "integer"
        required: false
      files_separate_business_taxes:
        type: "integer"
        required: false
      technician_w9_status_id:
        type: "integer"
        required: false
      technician_w9_status:
        type: "array"
        required: false
        items:
          type: "TechnicianW9Status"
  SwapResponse:
    type: "object"
    properties:
      success:
        type: "boolean"
        required: false
  CompanyFeatures:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "CompanyFeature"
  CompanyFeature:
    type: "object"
    properties:
      company_features_id:
        type: "integer"
        required: false
      company_id:
        type: "integer"
        required: false
      feature_id:
        type: "integer"
        required: false
      status:
        type: "string"
        enum:
        - "enabled"
        - "disabled"
        - "requested"
        - "denied"
        required: false
  SavedCreditCards:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "SavedCreditCard"
  SavedCreditCard:
    type: "object"
    properties:
      card_id:
        type: "integer"
        required: false
      card_type:
        type: "string"
        enum:
        - "visa"
        - "mastercard"
        - "american express"
        - "discover"
        - "jcb"
        - "diners club"
        required: false
      expiration_date:
        type: "string"
        description: "format MM/YY"
        pattern: "^\\d{2}\\/\\d{2}$"
        required: false
      isExpired:
        type: "integer"
        required: false
      last_four:
        type: "string"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "disable"
          - "enable"
          - "request"
          - "deny"
  CompanyIntegrations:
    type: "object"
    properties:
      envelope:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "CompanyIntegration"
  CompanyIntegration:
    type: "object"
    properties:
      company_integration_id:
        type: "string"
        required: false
      company_id:
        type: "string"
        required: false
      integration_type:
        type: "string"
        required: false
      active:
        type: "boolean"
        required: false
      api_key:
        type: "string"
        required: false
      api_pass:
        type: "string"
        required: false
      api_domain_name:
        type: "string"
        required: false
      disable_notifications:
        type: "boolean"
        required: false
      external_api_integration_id:
        type: "string"
        required: false
  KeyValue:
    type: "object"
  EventUpdateScheduleByWorkOrder:
    type: "object"
    properties:
      old:
        type: "object"
        required: false
        properties:
          mode:
            type: "string"
            required: false
          start:
            type: "string"
            required: false
          end:
            type: "string"
            required: false
          time_zone:
            type: "string"
            required: false
      new:
        type: "object"
        required: false
        properties:
          mode:
            type: "string"
            required: false
          start:
            type: "string"
            required: false
          end:
            type: "string"
            required: false
          time_zone:
            type: "string"
            required: false
  UpdateModel:
    type: "object"
    properties:
      metadata:
        type: "object"
        required: false
        properties:
          universal_context:
            type: "object"
            required: false
            properties:
              correlation_id:
                type: "string"
                required: false
          data:
            type: "object"
            required: false
            properties:
              route:
                type: "string"
                required: false
              role:
                type: "string"
                required: false
              user_id:
                type: "integer"
                required: false
              company_id:
                type: "integer"
                required: false
              group_id:
                type: "integer"
                required: false
              work_order_id:
                type: "integer"
                required: false
      timestamp:
        type: "string"
        required: false
      service_name:
        type: "string"
        required: false
      version:
        type: "string"
        required: false
      params:
        type: "object"
        required: false
        properties:
          model:
            type: "object"
            required: false
          updateScheduleByWorkOrder:
            type: "EventUpdateScheduleByWorkOrder"
            required: false
  Milestones:
    type: "object"
    properties:
      time_to_dispatch:
        type: "number"
        required: false
      time_to_work_done:
        type: "number"
        required: false
      time_alive:
        type: "number"
        required: false
      created:
        type: "Date"
        required: false
      published:
        type: "Date"
        required: false
      routed:
        type: "Date"
        required: false
      assigned:
        type: "Date"
        required: false
      workdone:
        type: "Date"
        required: false
      approved:
        type: "Date"
        required: false
      paid:
        type: "Date"
        required: false
      canceled:
        type: "Date"
        required: false
  RichText:
    type: "object"
    properties:
      html:
        type: "string"
        required: false
      markdown:
        type: "string"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
  PayModifier:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      charged:
        type: "boolean"
        required: false
      amount:
        type: "number"
        required: false
      modifier:
        type: "number"
        required: false
      calculation:
        type: "string"
        enum:
        - "fixed"
        - "percent"
        required: false
      name:
        type: "string"
        required: false
      description:
        type: "string"
        required: false
      hours24_applicable:
        type: "boolean"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "charge"
          - "delete"
  PayModifiers:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      sum:
        type: "object"
        required: false
        properties:
          all:
            type: "number"
            required: false
          charged:
            type: "number"
            required: false
          uncharged:
            type: "number"
            required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
          - "add"
      results:
        type: "array"
        required: false
        items:
          type: "PayModifier"
  LocationNotes:
    type: "array"
    items:
      type: "LocationNote"
  LocationNote:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      text:
        type: "string"
        required: false
      created:
        type: "string"
        required: false
      private:
        type: "boolean"
        required: false
      user_id:
        type: "integer"
        required: false
  Countries:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Country"
  Country:
    type: "object"
    properties:
      name:
        type: "string"
        required: false
      iso:
        type: "string"
        required: false
      address1:
        type: "object"
        required: false
        properties:
          required:
            type: "boolean"
            required: false
          label:
            type: "string"
            required: false
      address2:
        type: "object"
        required: false
        properties:
          required:
            type: "boolean"
            required: false
          label:
            type: "string"
            required: false
      city:
        type: "object"
        required: false
        properties:
          required:
            type: "boolean"
            required: false
          label:
            type: "string"
            required: false
      state:
        type: "object"
        required: false
        properties:
          required:
            type: "boolean"
            required: false
          label:
            type: "string"
            required: false
          values:
            type: "array"
            required: false
            items:
              type: "object"
              properties:
                value:
                  type: "string"
                  required: false
                label:
                  type: "string"
                  required: false
      zip:
        type: "object"
        required: false
        properties:
          required:
            type: "boolean"
            required: false
          label:
            type: "string"
            required: false
  Messages:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      unread:
        type: "integer"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
          - "messageProvider"
          - "messageCompany"
          - "staffNote"
      results:
        type: "array"
        required: false
        items:
          type: "Message"
      sum:
        type: "integer"
        required: false
      problem_reported:
        type: "boolean"
        required: false
  Message:
    type: "object"
    properties:
      from:
        type: "object"
        required: false
        properties:
          id:
            type: "integer"
            required: false
          name:
            type: "string"
            required: false
          thumbnail:
            type: "string"
            required: false
          hideWoManager:
            type: "boolean"
            required: false
          msgLink:
            type: "string"
            required: false
          role:
            type: "string"
            required: false
      to:
        type: "object"
        required: false
        properties:
          id:
            type: "integer"
            required: false
          name:
            type: "string"
            required: false
          thumbnail:
            type: "string"
            required: false
          role:
            type: "string"
            required: false
      role:
        type: "string"
        required: false
      msg_id:
        type: "integer"
        required: false
      parent_id:
        type: "integer"
        required: false
      read:
        type: "boolean"
        required: false
      created:
        type: "Date"
        required: false
      message:
        type: "string"
        required: false
      type:
        type: "string"
        enum:
        - "INTERNAL"
        - "ASSIGNEDTECH"
        - "REQUESTEDTECHS"
        - "SPECIFICTECH"
        - "FROMTECH"
        - "REPLY"
        - "TECHTOMANAGER"
        - "ROUTEDTECHS"
        - "REPLYTOTHREAD"
        - "STAFF_NOTE"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
      replies:
        type: "Messages"
        required: false
  Tasks:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Task"
  Task:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      alerts:
        type: "array"
        required: false
        items:
          type: "TaskAlert"
      description:
        type: "string"
        required: false
      descriptions:
        type: "object"
        required: false
        properties:
          task:
            type: "string"
            required: false
          first:
            type: "string"
            required: false
          second:
            type: "string"
            required: false
          third:
            type: "string"
            required: false
          fourth:
            type: "string"
            required: false
      label:
        type: "string"
        required: false
      group:
        type: "object"
        required: false
        properties:
          label:
            type: "string"
            required: false
          id:
            type: "string"
            required: false
      status:
        type: "string"
        enum:
        - "complete"
        - "incomplete"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "incomplete"
          - "alerts"
          - "complete"
          - "edit"
          - "delete"
          - "reorder"
      type:
        type: "object"
        required: false
        properties:
          id:
            type: "integer"
            required: false
          key:
            type: "string"
            required: false
          name:
            type: "string"
            required: false
      created:
        type: "Date"
        required: false
      author:
        type: "User"
        required: false
      completed:
        type: "Date"
        required: false
      check_in:
        type: "TimeLog"
        required: false
      check_out:
        type: "TimeLog"
        required: false
      closing_notes:
        type: "string"
        required: false
      attachments:
        type: "AttachmentFolder"
        required: false
      custom_field:
        type: "CustomField"
        required: false
      phone:
        type: "string"
        required: false
      email:
        type: "string"
        required: false
      signature:
        type: "Signature"
        required: false
      shipment:
        type: "Shipment"
        required: false
      eta:
        type: "ETA"
        required: false
  Signature:
    type: "object"
    properties:
      name:
        type: "string"
        required: false
      format:
        type: "string"
        required: false
      closing_notes:
        type: "string"
        required: false
      data:
        type: "string"
        required: false
      id:
        type: "integer"
        required: false
      hash:
        type: "string"
        required: false
      author:
        type: "User"
        required: false
      created:
        type: "Date"
        required: false
      worklog:
        type: "string"
        required: false
      time_zone:
        type: "TimeZone"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "delete"
      task:
        type: "Task"
        required: false
  Signatures:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
      results:
        type: "array"
        required: false
        items:
          type: "Signature"
      correlation_id:
        type: "string"
        required: false
  CheckInOut:
    type: "object"
    properties:
      time_log:
        type: "object"
        required: false
        properties:
          id:
            type: "integer"
            required: false
      created:
        type: "Date"
        required: false
      actor:
        type: "User"
        required: false
      coords:
        type: "Coords"
        required: false
      distance:
        type: "number"
        required: false
      distance_from_check_in:
        type: "number"
        required: false
      verified:
        type: "boolean"
        required: false
  TaskAlert:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      email:
        type: "string"
        required: false
      sent:
        type: "Utc"
        required: false
  File:
    type: "object"
    properties:
      name:
        type: "string"
        required: false
      icon:
        type: "string"
        required: false
      type:
        type: "string"
        enum:
        - "file"
        - "link"
        required: false
      description:
        type: "string"
        required: false
      size_bytes:
        type: "integer"
        required: false
      mime:
        type: "string"
        required: false
      hash:
        type: "string"
        required: false
      storage:
        type: "string"
        enum:
        - "s3"
        required: false
      thumbnail:
        type: "string"
        required: false
      link:
        type: "string"
        required: false
      preview_full:
        type: "string"
        required: false
  Attachment:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      folder_id:
        type: "integer"
        required: false
      file:
        type: "File"
        required: false
      coords:
        type: "Coords"
        required: false
      created:
        type: "Date"
        required: false
      author:
        type: "User"
        required: false
      reviewer:
        type: "User"
        required: false
      notes:
        type: "string"
        required: false
      status:
        type: "string"
        enum:
        - "pending"
        - "approved"
        - "denied"
        required: false
      status_description:
        type: "string"
        required: false
      show_before_assignment:
        type: "boolean"
        required: false
      task:
        type: "Task"
        required: false
      reviewed:
        type: "Date"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "view"
          - "visibility"
          - "make_public"
          - "make_private"
          - "notes"
          - "edit"
          - "delete"
          - "approve"
          - "deny"
          - "reopen"
  AttachmentFolder:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      type:
        type: "string"
        enum:
        - "slot"
        - "document"
        required: false
      min_files:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Attachment"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
          - "upload"
          - "delete"
      task:
        type: "Task"
        required: false
  AttachmentFolders:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "AttachmentFolder"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add_slot"
          - "download"
  Condition:
    type: "object"
    properties:
      user:
        type: "User"
        required: false
      created:
        type: "Date"
        required: false
      drive_time:
        type: "integer"
        required: false
      distance:
        type: "number"
        required: false
      status:
        type: "string"
        enum:
        - ""
        - "on_schedule"
        - "delayed"
        - "cancelled"
        - "at_risk"
        - "reschedule_requested"
        required: false
      estimated_delay:
        type: "integer"
        required: false
      coords:
        type: "Coords"
        required: false
      route:
        type: "Coords"
        required: false
  ETA:
    type: "object"
    properties:
      work_order_id:
        type: "integer"
        required: false
      user:
        type: "User"
        required: false
      mode:
        type: "string"
        enum:
        - "hours"
        - "between"
        - "exact"
        required: false
      start:
        type: "Date"
        required: false
      end:
        type: "Date"
        required: false
      hour_estimate:
        type: "number"
        required: false
      notes:
        type: "string"
        required: false
      status:
        type: "object"
        required: false
        properties:
          name:
            type: "string"
            enum:
            - "unconfirmed"
            - "confirmed"
            - "set"
            - "readytogo"
            - "onmyway"
            required: false
          updated:
            type: "Date"
            required: false
      condition:
        type: "Condition"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
          - "edit"
          - "set_eta"
          - "confirm"
          - "running_late"
          - "cancel"
          - "on_my_way"
          - "mark_ready_to_go"
  StoredLocations:
    type: "object"
    properties:
      work_order_id:
        type: "integer"
        required: false
      mode:
        type: "string"
        enum:
        - "custom"
        - "location"
        - "remote"
        required: false
      role:
        type: "string"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
      results:
        type: "array"
        required: false
        items:
          type: "Location"
  Company:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      features:
        type: "array"
        required: false
        items:
          type: "string"
      rating:
        type: "Rating"
        required: false
      blocked:
        type: "boolean"
        required: false
      location:
        type: "Location"
        required: false
      about:
        type: "string"
        required: false
      provider_count:
        type: "integer"
        required: false
      jobs:
        type: "object"
        required: false
        properties:
          marketplace:
            type: "integer"
            required: false
          my_company:
            type: "integer"
            required: false
      photo:
        type: "string"
        required: false
  Contacts:
    type: "object"
    properties:
      correlation_id:
        type: "string"
        required: false
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Contact"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
  Contact:
    type: "object"
    properties:
      name:
        type: "string"
        required: false
      role:
        type: "string"
        required: false
      phone:
        type: "string"
        required: false
      ext:
        type: "string"
        required: false
      email:
        type: "string"
        required: false
      notes:
        type: "string"
        required: false
  LocationType:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
  LocationAttribute:
    type: "object"
    properties:
      key:
        type: "string"
        required: false
      value:
        type: "string"
        required: false
      private:
        type: "boolean"
        required: false
  LocationGroup:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
  TimeLogs:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      time_zone:
        type: "TimeZone"
        required: false
      hours:
        type: "number"
        required: false
      status:
        type: "string"
        required: false
      confirmed:
        type: "Date"
        required: false
      onmyway:
        type: "OnMyWay"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "can_verify"
          - "add"
          - "checkin"
      open_time_log:
        type: "TimeLog"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "TimeLog"
  TimeLog:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      time_zone:
        type: "TimeZone"
        required: false
      in:
        type: "CheckInOut"
        required: false
      out:
        type: "CheckInOut"
        required: false
      devices:
        type: "number"
        required: false
      hours:
        type: "number"
        required: false
      verified:
        type: "boolean"
        required: false
      should_verify:
        type: "boolean"
        required: false
      was_late:
        type: "boolean"
        required: false
      logged_by:
        type: "User"
        required: false
      on_my_way:
        type: "OnMyWay"
        required: false
      status:
        type: "string"
        enum:
        - "checked_in"
        - "checked_out"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
          - "verify"
          - "delete"
  OnMyWay:
    type: "object"
    properties:
      active:
        type: "boolean"
        required: false
      created:
        type: "Date"
        required: false
      drive_time:
        type: "integer"
        required: false
      distance:
        type: "number"
        required: false
      status:
        type: "string"
        required: false
      substatus:
        type: "string"
        required: false
      estimated_delay:
        type: "integer"
        required: false
      coords:
        type: "Coords"
        required: false
  PayIncreases:
    type: "object"
    properties:
      sum:
        type: "object"
        required: false
        properties:
          all:
            type: "number"
            required: false
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "PayIncrease"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "add"
  PayIncrease:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "accept"
          - "edit"
          - "deny"
          - "delete"
      description:
        type: "string"
        required: false
      status:
        type: "string"
        enum:
        - "denied"
        - "accepted"
        - "pending"
        required: false
      status_description:
        type: "string"
        required: false
      pay:
        type: "Pay"
        required: false
      author:
        type: "User"
        required: false
      created:
        type: "Date"
        required: false
  Error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
        required: false
      message:
        type: "string"
        required: false
      trace:
        type: "array"
        required: false
        items:
          type: "ErrorTrace"
      fields:
        type: "string"
        required: false
  ErrorTrace:
    type: "object"
    properties:
      file:
        type: "string"
        required: false
      line:
        type: "integer"
        required: false
      function:
        type: "string"
        required: false
      class:
        type: "string"
        required: false
      object:
        type: "object"
        required: false
      type:
        type: "string"
        required: false
      args:
        type: "array"
        required: false
        items:
          type: "object"
          properties:
            status_code:
              type: "integer"
              required: false
            message:
              type: "string"
              required: false
  CustomField:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      tip:
        type: "string"
        required: false
      type:
        type: "string"
        enum:
        - "text"
        - "numeric"
        - "date"
        - "date_time"
        - "time"
        - "predefined"
        - "phone"
        required: false
      options:
        type: "array"
        required: false
        items:
          type: "string"
      role:
        type: "string"
        enum:
        - "buyer"
        - "assigned_provider"
        required: false
      value:
        type: "string"
        required: false
      dependency:
        type: "object"
        required: false
        properties:
          id:
            type: "integer"
            required: false
          value:
            type: "string"
            required: false
          operator:
            type: "string"
            enum:
            - "less_than"
            - "greater_than"
            - "equals"
            - "less_than_equals"
            - "greater_than_equals"
            required: false
      flags:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "unique"
          - "required"
          - "internal_id"
          - "required_during_checkin"
          - "included_in_alerts"
          - "shown_in_header"
          - "seen_by_provider"
          - "seen_by_clients"
          - "visible_to_clients"
          - "client_request_required"
          - "client_request_use_for"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
      category:
        type: "string"
        required: false
  CustomFieldCategory:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      role:
        type: "string"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "CustomField"
  CustomFields:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "CustomFieldCategory"
  LocationCoordinates:
    type: "object"
    properties:
      type:
        type: "string"
        description: "Type of the object being looked up"
        required: false
      id:
        type: "integer"
        description: "Id of the item being looked up."
        required: false
      latitude:
        type: "number"
        description: "Latitude of the item being looked up."
        required: false
      longitude:
        type: "number"
        description: "Longitude of the item being looked up."
        required: false
      exact:
        type: "boolean"
        description: "Whether the coordinates are an exact match."
        required: false
      city:
        type: "string"
        description: "City of the item"
        required: false
      state:
        type: "string"
        description: "State of the item"
        required: false
      zip:
        type: "string"
        description: "Zip/Postal Code of the item"
        required: false
      country:
        type: "string"
        description: "Country of the item"
        required: false
  Map:
    type: "object"
    properties:
      href:
        type: "string"
        required: false
      url:
        type: "string"
        required: false
  Location:
    type: "object"
    properties:
      work_order_id:
        type: "integer"
        required: false
      mode:
        type: "string"
        enum:
        - "custom"
        - "remote"
        - "location"
        required: false
      role:
        type: "string"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "edit"
          - "map"
      correlation_id:
        type: "string"
        required: false
      status_id:
        type: "integer"
        required: false
      address1:
        type: "string"
        required: false
      address2:
        type: "string"
        required: false
      city:
        type: "string"
        required: false
      state:
        type: "string"
        required: false
      zip:
        type: "string"
        required: false
      country:
        type: "string"
        required: false
      coordinates:
        type: "Coords"
        required: false
      type:
        type: "object"
        required: false
        properties:
          id:
            type: "integer"
            required: false
          name:
            type: "string"
            required: false
      save_location:
        type: "string"
        required: false
      save_location_group:
        type: "integer"
        required: false
      saved_location:
        type: "StoredLocation"
        required: false
      time_zone:
        type: "TimeZone"
        required: false
      contacts:
        type: "array"
        required: false
        items:
          type: "Contact"
      map:
        type: "Map"
        required: false
      notes:
        type: "LocationNotes"
        required: false
      validation:
        type: "object"
        required: false
        properties:
          is_valid:
            type: "boolean"
            required: false
          messages:
            type: "array"
            required: false
            items:
              type: "string"
  Projects:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Project"
  Project:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
  Status:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      display:
        type: "string"
        required: false
      problem_reported:
        type: "boolean"
        required: false
      is_routed:
        type: "boolean"
        required: false
      problem:
        type: "Problem"
        required: false
      code:
        type: "string"
        required: false
      sub_status:
        type: "string"
        required: false
      delay:
        type: "integer"
        required: false
      ncns:
        type: "boolean"
        required: false
      confirmed:
        type: "boolean"
        required: false
      correlation_id:
        type: "string"
        required: false
  Holds:
    type: "object"
    properties:
      actions:
        type: "array"
        required: false
        items:
          type: "string"
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Hold"
  Client:
    type: "object"
    properties:
      name:
        type: "string"
        required: false
      id:
        type: "integer"
        required: false
      projects:
        type: "array"
        required: false
        items:
          type: "Projects"
  Clients:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "Client"
  Acknowledgment:
    type: "object"
    properties:
      status:
        type: "string"
        enum:
        - "acknowledged"
        - "pending"
        required: false
      author:
        type: "User"
        required: false
      created:
        type: "Date"
        required: false
  Publish:
    type: "object"
    properties:
      credit_card_id:
        type: "string"
        required: false
      credit_card:
        type: "CreditCard"
        required: false
      billing_address:
        type: "BillingAddress"
        required: false
  Hold:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      reason:
        type: "string"
        required: false
      type:
        type: "HoldType"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "acknowledge"
          - "delete"
          - "edit"
      acknowledgment:
        type: "Acknowledgment"
        required: false
  HoldType:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      description:
        type: "string"
        required: false
  PPN:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
      members:
        type: "integer"
        required: false
  PPNs:
    type: "object"
    properties:
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "PPN"
  WorkOrders:
    type: "object"
    properties:
      user_id:
        type: "integer"
        required: false
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "WorkOrder"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "feedback"
          - "payment_link"
          - "add_type_of_work"
          - "remind"
          - "create"
          - "import"
          - "highlight_problems"
          - "publish_stats"
          - "advanced_date_filtering"
          - "edit"
          - "publish"
          - "revert"
          - "cancel"
          - "bundle"
          - "unbundle"
          - "dispatch"
          - "message"
          - "hold"
          - "download_attachments"
          - "approve"
          - "auto_assign"
          - "location_filtering"
  Manager:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      first_name:
        type: "string"
        required: false
      last_name:
        type: "string"
        required: false
      email:
        type: "string"
        required: false
      phone:
        type: "string"
        required: false
  PublishStats:
    type: "object"
    properties:
      requests:
        type: "integer"
        required: false
      all_requests:
        type: "integer"
        required: false
      counter_offers:
        type: "integer"
        required: false
      routes:
        type: "integer"
        required: false
      declines:
        type: "integer"
        required: false
      correlation_id:
        type: "string"
        required: false
  WorkOrder:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      networks:
        type: "array"
        required: false
        items:
          type: "Network"
      correlation_id:
        type: "string"
        required: false
      printable:
        type: "boolean"
        required: false
      allow_counter_offers:
        type: "boolean"
        required: false
      closing_notes:
        type: "string"
        required: false
      title:
        type: "string"
        required: false
      assignee:
        type: "Assignee"
        required: false
      type_of_work:
        type: "TypeOfWork"
        required: false
      manager:
        type: "Manager"
        required: false
      template:
        type: "Template"
        required: false
      bundle:
        type: "Bundle"
        required: false
      project:
        type: "Project"
        required: false
      role:
        type: "object"
        required: false
        properties:
          role:
            type: "string"
            required: false
      client:
        type: "Company"
        required: false
      company:
        type: "Company"
        required: false
      custom_fields:
        type: "CustomFields"
        required: false
      time_logs:
        type: "TimeLogs"
        required: false
      w2:
        type: "boolean"
        required: false
      location:
        type: "Location"
        required: false
      schedule:
        type: "Schedule"
        required: false
      eta:
        type: "ETA"
        required: false
      qualifications:
        type: "Qualifications"
        required: false
      signatures:
        type: "Signatures"
        required: false
      pay:
        type: "Pay"
        required: false
      contacts:
        type: "Contacts"
        required: false
      shipments:
        type: "Shipments"
        required: false
      attachments:
        type: "AttachmentFolders"
        required: false
      tasks:
        type: "Tasks"
        required: false
      messages:
        type: "Messages"
        required: false
      requests:
        type: "Requests"
        required: false
      routes:
        type: "Routes"
        required: false
      status:
        type: "Status"
        required: false
      holds:
        type: "Holds"
        required: false
      milestones:
        type: "Milestones"
        required: false
      description:
        type: "RichText"
        required: false
      confidential:
        type: "RichText"
        required: false
      policy_and_procedures:
        type: "RichText"
        required: false
      standard_instructions:
        type: "RichText"
        required: false
      selection_rule:
        type: "SelectionRule"
        required: false
      ratings:
        type: "WorkOrderRatings"
        required: false
      workflow_completion:
        type: "WorkflowCompletion"
        required: false
      publish_stats:
        type: "PublishStats"
        required: false
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "set_network"
          - "withdraw_request"
          - "confirm"
          - "messaging"
          - "managed"
          - "set_managed"
          - "report_a_problem"
          - "view_problem"
          - "map"
          - "closing_notes"
          - "search-provider"
          - "history"
          - "copy"
          - "print"
          - "overview"
          - "tasks"
          - "counter_offer"
          - "apply_tags"
          - "publish"
          - "route"
          - "delete"
          - "hold"
          - "cancel"
          - "unpublish"
          - "revert"
          - "approve"
          - "complete"
          - "incomplete"
          - "request"
          - "edit"
          - "unapprove"
      service_contract:
        type: "ServiceContract"
        required: false
      team:
        type: "Team"
        required: false
      client_request:
        type: "ClientRequest"
        required: false
      integration:
        type: "Integration"
        required: false
      invoice:
        type: "object"
        required: false
        properties:
          id:
            type: "string"
            required: false
  Network:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      name:
        type: "string"
        required: false
  Bundle:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      metadata:
        type: "ListEnvelope"
        required: false
      results:
        type: "array"
        required: false
        items:
          type: "WorkOrder"
      actions:
        type: "array"
        required: false
        items:
          type: "string"
          enum:
          - "view"
  WorkHistory:
    type: "array"
    items:
      type: "object"
      properties:
        metadata:
          type: "ListEnvelope"
          required: false
        total:
          type: "integer"
          required: false
        results:
          type: "array"
          required: false
          items:
            type: "object"
            properties:
              type_of_work_id:
                type: "integer"
                required: false
              type_of_work:
                type: "string"
                required: false
              jobs:
                type: "integer"
                required: false
              average_hourly_rate:
                type: "number"
                required: false
        actions:
          type: "array"
          required: false
          items:
            type: "string"
            enum:
            - "view"
  User:
    type: "object"
    properties:
      id:
        type: "integer"
        required: false
      first_name:
        type: "string"
        required: false
      last_name:
        type: "string"
        required: false
      address:
        type: "string"
        required: false
      city:
        type: "string"
        required: false
      state:
        type: "string"
        required: false
      zip:
        type: "string"
        required: false
      country:
        type: "string"
        required: false
      thumbnail:
        type: "string"
        required: false
      created:
        type: "Date"
        required: false
      worker_compensation:
        type: "boolean"
        required: false
      time_zone:
        type: "TimeZone"
        required: false
      request:
        type: "Request"
        required: false
      route:
        type: "Route"
        required: false
      website:
        type: "string"
        required: false
      coords:
        type: "Coords"
        required: false
      protec:
        type: "boolean"
        required: false
      marketplace:
        type: "boolean"
        required: false
      routable:
        type: "boolean"
        required: false
      assigned:
        type: "boolean"
        required: false
      unassignable:
        type: "boolean"
        required: false
      work_order:
        type: "WorkOrder"
        required: false
      previous_request:
        type: "object"
        required: false
        properties:
          at:
            type: "Date"
            required: false
      previous_assignment:
        type: "object"
        required: false
        properties:
          removal:
            type: "Date"
            required: false
          by:
            type: "User"
            required: false
          reason:
            type: "string"
            required: false
      background_checks:
        type: "array"
        required: false
        items:
          type: "BackgroundCheck"
      drug_tests:
        type: "array"
        required: false
        items:
          type: "DrugTest"
      upcoming_schedule:
        type: "array"
        required: false
        items:
          type: "object"
          properties:
            date:
              type: "string"
              required: false
            from:
              type: "string"
              required: false
            to:
              type: "string"
              required: false
      worked_with:
        type: "boolean"
        required: false
      jobs:
        type: "object"
        required: false
        properties:
          marketplace:
            type: "integer"
            required: false
          company:
            type: "integer"
            required: false
      managed:
        type: "boolean"
        required: false
      rating:
        type: "object"
        required: false
[...]
