#leftEditor, #rightEditor {
    border: solid 1px #e8e8e8;
    border-radius: 2px;
}

#appToolbar {
    margin: 0;
    margin-bottom: 10px;
}

button.btn {
    font-size: 12px;
}

.dropdown.btn-group {
    margin-left: 5px;
}

.alert-container {
    margin: 0 15px;
}

#app-navbar {
    border-radius: 0;
}

.app-container {
    padding: 0;
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    align-items: stretch;
}

html, body, #content, .app-container {
    height: 100%;
}

.editors {
    flex-grow: 2;
    position: relative;
}

.editors > div {
    position: absolute;
    top: 0;
    bottom:15px;
    left:15px;
    right: 15px;
}

.editors > div > .editor-container {
    height:100%;
}