#%RAML 1.0
title: OKAA
version: "0.2"
baseUri: https://okaa.bva-auctions.com/api/{version}
/lot:
  post:
    description: |
      Creates a new lot.
    responses:
      200:
        description: |
          The lot has been properly created. An entity representing the newly created lot is returned.
        body:
          application/json:
            example:
              value:
                "@id": /lot/12345
                id: 12345
                publishedId: 4717788
                lotNumber: 8650
                auction:
                  "@id": /auction/12742
                dossier:
                  "@id": /dossier/201412345
                nameEdits:
                  "@id": /lot/12345/nameEdits
                  totalItems: 4
                  itemsPerPage: 1
                  itemOffset: 0
                  firstPage: /lot/12345/nameEdits?page=1
                  lastPage: /lot/12345/editions?page=4
                  previousPage: null
                  nextPage: /lot/12345/editions?page=2
                  member:
                    -
                      edit:
                        "@id": /lot/12345/nameEdits/1421424907278846
                        timestamp: 1421424907278846
                        user:
                          "@id": /user/johndoe
                        note: reden van bewerken
                      value:
                        nl: kavelnaam
                      status: PUBLISHED
                      reviews:
                        "@id": /lot/12345/nameEdits/1421424907278846/reviews
                        totalItems: 2
                        itemsPerPage: 1
                        itemOffset: 0
                        firstPage: /lot/12345/nameEdits/1421424907278846/reviews?page=1
                        lastPage: /lot/12345/nameEdits/1421424907278846/reviews?page=2
                        previousPage: null
                        nextPage: /lot/12345/nameEdits/1421424907278846/reviews?page=2
                        member:
                          -
                            "@id": /lot/12345/nameEdits/1421424907278846/reviews/1421485744278935
                            timestamp: 1421485744278935
                            revisionStatus: PUBLISHED
                            user: null
                            faults: []
                descriptionEdits:
                  "@id": /lot/12345/descriptionEdits
                  totalItems: 1
                  itemsPerPage: 1
                  itemOffset: 0
                  firstPage: /lot/12345/descriptionEdits?page=1
                  lastPage: /lot/12345/descriptionEdits?page=1
                  previousPage: null
                  nextPage: null
                  member:
                    -
                      edit:
                        "@id": /lot/12345/descriptionEdits/1421403857284746
                        timestamp: 1421403857284746
                        user:
                          "@id": /user/johndoe
                        note: reden van bewerken
                      value:
                        nl: 1x Boxspring Elite,  adviesprijs ï¿½ 1070,=, afmeting ca. 180x210 cm., zwarte weefstof bekleding, dik meegestoffeerd hoofdbord, incl. 2x Orthopedic pocketveermatras Victoria ca. 24 cm. dik, 90x210 cm., met opencellige HR55 koudschuim toplagen, 300 pocketveren per m2, 5 comfortzones, voorzien van anti-allergische, afritsbare en wasbare tijk. 2x meegestoffeerde vaste box afmeting 90x210 cm., incl. 1x koudschuim ca. 5 cm. dik wit topdekmatras. Dit betreft een nieuw product.
                      status: PUBLISHED
                      reviews:
                        "@id": /lot/12345/descriptionEdits/1421403857284746/reviews
                        totalItems: 1
                        itemsPerPage: 1
                        itemOffset: 0
                        firstPage: /lot/12345/descriptionEdits/1421403857284746/reviews?page=1
                        lastPage: /lot/12345/descriptionEdits/1421403857284746/reviews?page=1
                        previousPage: null
                        nextPage: null
                        member:
                          -
                            "@id": /lot/12345/descriptionEdits/1421403857284746/reviews/1421485744278935
                            timestamp: 1421485744278935
                            revisionStatus: PUBLISHED
                            user: null
                            faults: []
                startAmountEdits:
                  "@id": /lot/12345/startAmountEdits
                  totalItems: 1
                  itemsPerPage: 1
                  itemOffset: 0
                  firstPage: /lot/12345/startAmountEdits?page=1
                  lastPage: /lot/12345/startAmountEdits?page=1
                  previousPage: null
                  nextPage: null
                  member:
                    -
                      edit:
                        "@id": /lot/12345/startAmountEdits/1421401039847261
                        timestamp: 1421401039847261
                        user:
                          "@id": /user/johndoe
                        note: reden van bewerken
                      value: 1.0
                      status: PUBLISHED
                      reviews:
                        "@id": /lot/12345/startAmountEdits/1421401039847261/reviews
                        totalItems: 1
                        itemsPerPage: 1
                        itemOffset: 0
                        firstPage: /lot/12345/startAmountEdits/1421401039847261/reviews?page=1
                        lastPage: /lot/12345/startAmountEdits/1421401039847261/reviews?page=1
                        previousPage: null
                        nextPage: null
                        member:
                          -
                            "@id": /lot/12345/startAmountEdits/1421401039847261/reviews/1421485744278935
                            timestamp: 1421485744278935
                            revisionStatus: PUBLISHED
                            user: null
                            faults: []
                lotTypeEdits:
                  "@id": /lot/12345/lotTypeEdits
                  totalItems: 1
                  itemsPerPage: 1
                  itemOffset: 0
                  firstPage: /lot/12345/lotTypeEdits?page=1
                  lastPage: /lot/12345/lotTypeEdits?page=1
                  previousPage: null
                  nextPage: null
                  member:
                    -
                      edit:
                        "@id": /lot/12345/lotTypeEdits/1421409485019475
                        timestamp: 1421409485019475
                        user:
                          "@id": /user/johndoe
                        note: 
                      value:
                        "@id": /lotType/525
                      status: PUBLISHED
                      reviews:
                        "@id": /lot/12345/lotTypeEdits/1421409485019475/reviews
                        totalItems: 1
                        itemsPerPage: 1
                        itemOffset: 0
                        firstPage: /lot/12345/lotTypeEdits/1421409485019475/reviews?page=1
                        lastPage: /lot/12345/lotTypeEdits/1421409485019475/reviews?page=1
                        previousPage: null
                        nextPage: null
                        member:
                          -
                            "@id": /lot/12345/lotTypeEdits/1421409485019475/reviews/1421485744278935
                            timestamp: 1421485744278935
                            revisionStatus: PUBLISHED
                            user: null
                            faults: []
                deliveryMethodEdits:
                  "@id": /lot/12345/deliveryMethodEdits
                  totalItems: 1
                  itemsPerPage: 1
                  itemOffset: 0
                  firstPage: /lot/12345/deliveryMethodEdits?page=1
                  lastPage: /lot/12345/deliveryMethodEdits?page=1
                  previousPage: null
                  nextPage: null
                  member:
                    -
                      edit:
                        "@id": /lot/12345/deliveryMethodEdits/1421409485019475
                        timestamp: 1421409485019475
                        user:
                          "@id": /user/johndoe
                        note: 
                      value:
                        "@id": /deliveryMethod/1
                      status: PUBLISHED
                      reviews:
                        "@id": /lot/12345/deliveryMethodEdits/1421409485019475/reviews
                        totalItems: 1
                        itemsPerPage: 1
                        itemOffset: 0
                        firstPage: /lot/12345/deliveryMethodEdits/1421409485019475/reviews?page=1
                        lastPage: /lot/12345/deliveryMethodEdits/1421409485019475/reviews?page=1
                        previousPage: null
                        nextPage: null
                        member:
                          -
                            "@id": /lot/12345/deliveryMethodEdits/1421409485019475/reviews/1421485744278935
                            timestamp: 1421485744278935
                            revisionStatus: PUBLISHED
                            user: null
                            faults: []
                categoryEdits:
                  "@id": /lot/12345/categoryEdits
                  totalItems: 1
                  itemsPerPage: 1
                  itemOffset: 0
                  firstPage: /lot/12345/categoryEdits?page=1
                  lastPage: /lot/12345/categoryEdits?page=1
                  previousPage: null
                  nextPage: null
                  member:
                    -
                      edit:
                        "@id": /lot/12345/categoryEdits/1421409485019475
                        timestamp: 1421409485019475
                        user:
                          "@id": /user/johndoe
                        note: 
                      value:
                        "@id": /categoryNode/165
                      status: PUBLISHED
                      reviews:
                        "@id": /lot/12345/categoryEdits/1421409485019475/reviews
                        totalItems: 1
                        itemsPerPage: 1
                        itemOffset: 0
                        firstPage: /lot/12345/categoryEdits/1421409485019475/reviews?page=1
                        lastPage: /lot/12345/categoryEdits/1421409485019475/reviews?page=1
                        previousPage: null
                        nextPage: null
                        member:
                          -
                            "@id": /lot/12345/categoryEdits/1421409485019475/reviews/1421485744278935
                            timestamp: 1421485744278935
                            revisionStatus: PUBLISHED
                            user: null
                            faults: []
                picturesEdits:
                  "@id": /lot/12345/picturesEdits
                  totalItems: 1
                  itemsPerPage: 1
                  itemOffset: 0
                  firstPage: /lot/12345/picturesEdits?page=1
                  lastPage: /lot/12345/picturesEdits?page=1
                  previousPage: null
                  nextPage: null
                  member:
                    -
                      edit:
                        "@id": /lot/12345/picturesEdits/1421392099781645
                        timestamp: 1421392099781645
                        user:
                          "@id": /user/johndoe
                        note: 
                      value:
                        "@id": /lot/12345/picturesEdits/1421392099781645/value
                      status: PUBLISHED
                      reviews:
                        "@id": /lot/12345/picturesEdits/1421392099781645/reviews
                        totalItems: 1
                        itemsPerPage: 1
                        itemOffset: 0
                        firstPage: /lot/12345/picturesEdits/1421392099781645/reviews?page=1
                        lastPage: /lot/12345/picturesEdits/1421392099781645/reviews?page=1
                        previousPage: null
                        nextPage: null
                        member:
                          -
                            "@id": /lot/12345/picturesEdits/1421392099781645/reviews/1421485744278935
                            timestamp: 1421485744278935
                            revisionStatus: PUBLISHED
                            user: null
                            faults: []
                publishedDate: 2014-10-01T13:45:52.043+0000
                status: PUBLISHED
            type: any
      403:
        description: |
          The current user or user role is not autorised to add to this collection.
        body:
          application/json:
            example:
              status: 403
              title: Access restricted
            description: "An API Problem, as prescribed in: https://tools.ietf.org/html/draft-ietf-appsawg-http-problem-00. And supplemented by Apigility: https://apigility.org/documentation/api-primer/error-reporting."
            additionalProperties: true
            properties:
              type:
                type: string
                (amf-format): uri
                description: A URL to a document describing the error condition. (Optional, and "about:blank" is assumed if none is provided; should resolve to a human-readable document.)
                required: false
              title:
                type: string
                description: A brief title for the error condition. (Required; and should be the same for every problem of the same type.)
                required: true
              status:
                type: integer
                description: The HTTP status code for the current request. (Optional.)
                required: false
              detail:
                type: string
                description: Error details specific to this request. (Optional.)
                required: false
              instance:
                type: string
                (amf-format): uri
                description: URI identifying the specific instance of this problem. (Optional.)
                required: false
              validation_messages:
                type: array
                description: Validation error messages. (Optional.)
                items:
                  type: any
                required: false
              trace:
                type: array
                description: In a development environment, stack traces are included. (Optional.)
                items:
                  type: any
                required: false
              exception_stack:
                type: array
                description: In a development environment, stack traces are included. (Optional.)
                items:
                  type: any
                required: false
    body:
      application/json:
        example:
          auction:
            "@id": /auction/12742
          dossier:
            "@id": /dossier/201412345
          name:
            nl: Boxspring combinatie
          description:
            nl: "1x Boxspring Elite,  adviesprijs \u00E2\u0082\u00AC 1070,=, afmeting ca. 180x210 cm., zwarte weefstof bekleding, dik meegestoffeerd hoofdbord, incl. 2x Orthopedic pocketveermatras Victoria ca. 24 cm. dik, 90x210 cm., met opencellige HR55 koudschuim toplagen, 300 pocketveren per m2, 5 comfortzones, voorzien van anti-allergische, afritsbare en wasbare tijk. 2x meegestoffeerde vaste box afmeting 90x210 cm., incl. 1x koudschuim ca. 5 cm. dik wit topdekmatras. Dit betreft een nieuw product."
          lotType:
            "@id": /lotType/525
          deliveryMethod:
            "@id": /deliveryMethod/1
          category:
            "@id": /category/165
        (amf-and):
          -
            type: object
            displayName: Node identifier
            description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
            additionalProperties: true
            properties:
              "@id":
                type: string
                (amf-format): uri
                required: true
        description: A (nascent) lot in some auction.
        additionalProperties: true
        properties:
          id:
            description: Unique identifier for this lot in the OKAA scope.
            type: integer
            minimum: 1
            required: false
          publishedId:
            description: Unique identifier for this lot on the website.
            type: integer
            minimum: 1
            required: false
          lotNumber:
            description: Unique identifier for this lot within an auction. Together with the auction id, it also uniquely identifies the lot globally.
            type: integer
            minimum: 1
            required: false
          externalId:
            description: The owner of this lot uses this identifier in his own administration to reference this lot.
            type: string
            required: false
          auction:
            (amf-or):
              -
                type: object
                displayName: Node identifier
                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                additionalProperties: true
                properties:
                  "@id":
                    type: string
                    (amf-format): uri
                    required: true
              -
                type: object
                (amf-and):
                  -
                    type: object
                    displayName: Node identifier
                    description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                    additionalProperties: true
                    properties:
                      "@id":
                        type: string
                        (amf-format): uri
                        required: true
                description: An auction.
                additionalProperties: true
                properties:
                  id:
                    description: Unique identifier of this auction on the website.
                    type: integer
                    minimum: 1
                    required: true
                  auctionTemplate:
                    type: object
                    (amf-and):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                    description: A template for an auction.
                    additionalProperties: true
                    properties:
                      id:
                        description: Unique identifier (number) for this auction template.
                        type: integer
                        minimum: 1
                        required: true
                      name:
                        description: The name of this auction type.
                        type: string
                        required: true
                      startTime:
                        description: The usual start time for auctions created from this template.
                        type: string
                        pattern: ([01]?[0-9]|2[0-3]):[0-5][0-9]
                        required: false
                      duration:
                        description: The usual duration for auctions created from this template. (In minutes.)
                        type: integer
                        minimum: 0
                        required: false
                      recurrence:
                        description: A recurrence rule to calculate the next occurence. In iCalendar RRULE format. E.g. RRULE:FREQ=WEEKLY;BYDAY=MO
                        type: string
                        required: false
                    required: true
                  name:
                    (amf-and):
                      -
                        type: object
                        description: "A collection of translations of the same semantic string cq message. Compatible with a language map in JSON-LD: http://www.w3.org/TR/json-ld/#dfn-language-map"
                        additionalProperties: true
                        (amf-additionalProperties):
                          type: string
                          description: The message cq string in one specific language. The name of the property is a language tag.
                        properties: {}
                    description: The (i18n) name of the auction.
                    type: any
                    required: true
                  description:
                    (amf-and):
                      -
                        type: object
                        description: "A collection of translations of the same semantic string cq message. Compatible with a language map in JSON-LD: http://www.w3.org/TR/json-ld/#dfn-language-map"
                        additionalProperties: true
                        (amf-additionalProperties):
                          type: string
                          description: The message cq string in one specific language. The name of the property is a language tag.
                        properties: {}
                    description: The (i18n) description of the auction.
                    type: any
                    required: false
                  startDate:
                    description: Opening date and time of this auction. This means the earliest date+time that bidding may start on any of the lots.
                    type: datetime
                    required: true
                  endDate:
                    description: Closing date and time of this auction. This means the earliest date+time that bidding will stop on any of the lots.
                    type: datetime
                    required: true
            description: The auction this lot belongs to.
            type: any
            required: false
          dossier:
            (amf-or):
              -
                type: object
                displayName: Node identifier
                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                additionalProperties: true
                properties:
                  "@id":
                    type: string
                    (amf-format): uri
                    required: true
              -
                type: object
                (amf-and):
                  -
                    type: object
                    displayName: Node identifier
                    description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                    additionalProperties: true
                    properties:
                      "@id":
                        type: string
                        (amf-format): uri
                        required: true
                description: A client's dossier.
                additionalProperties: true
                properties:
                  id:
                    description: Unique identifier for this dossier. Usually formatted as a year followed by some number. E.g. 2014047216
                    type: integer
                    minimum: 0
                    required: true
                  client:
                    (amf-or):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                      -
                        type: object
                        (amf-and):
                          -
                            type: object
                            displayName: Node identifier
                            description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                            additionalProperties: true
                            properties:
                              "@id":
                                type: string
                                (amf-format): uri
                                required: true
                        description: A client. Most likely some company.
                        additionalProperties: true
                        properties:
                          id:
                            description: Unique identifier for this client. Generated by the OKAA app.
                            type: integer
                            minimum: 0
                            required: true
                          name:
                            description: The name of this client. Does not have to be unique. But must be specified.
                            type: string
                            required: true
                          contactPersons:
                            description: Set of contact persons for this client.
                            type: array
                            items:
                              type: any
                            required: false
                          dossiers:
                            description: Set of dossiers this client has.
                            type: array
                            items:
                              type: any
                            required: false
                    description: The client which this dossier is for.
                    type: any
                    required: true
                  parentDossier:
                    (amf-or):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                      -
                        type: object
                        (amf-and):
                          -
                            type: object
                            displayName: Node identifier
                            description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                            additionalProperties: true
                            properties:
                              "@id":
                                type: string
                                (amf-format): uri
                                required: true
                        description: A client's dossier.
                        additionalProperties: true
                        properties:
                          id:
                            description: Unique identifier for this dossier. Usually formatted as a year followed by some number. E.g. 2014047216
                            type: integer
                            minimum: 0
                            required: true
                          client:
                            (amf-or):
                              -
                                type: object
                                displayName: Node identifier
                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                additionalProperties: true
                                properties:
                                  "@id":
                                    type: string
                                    (amf-format): uri
                                    required: true
                              -
                                type: object
                                (amf-and):
                                  -
                                    type: object
                                    displayName: Node identifier
                                    description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                    additionalProperties: true
                                    properties:
                                      "@id":
                                        type: string
                                        (amf-format): uri
                                        required: true
                                description: A client. Most likely some company.
                                additionalProperties: true
                                properties:
                                  id:
                                    description: Unique identifier for this client. Generated by the OKAA app.
                                    type: integer
                                    minimum: 0
                                    required: true
                                  name:
                                    description: The name of this client. Does not have to be unique. But must be specified.
                                    type: string
                                    required: true
                                  contactPersons:
                                    description: Set of contact persons for this client.
                                    type: array
                                    items:
                                      type: any
                                    required: false
                                  dossiers:
                                    description: Set of dossiers this client has.
                                    type: array
                                    items:
                                      type: any
                                    required: false
                            description: The client which this dossier is for.
                            type: any
                            required: true
                          parentDossier:
                            description: The (optional) parent dossier.
                            (amf-or):
                              -
                                type: object
                                displayName: Node identifier
                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                additionalProperties: true
                                properties:
                                  "@id":
                                    type: string
                                    (amf-format): uri
                                    required: true
                              -
                                type: object
                                x-amf-recursive: file://amf-client/shared/src/test/resources/production/api_6109_ver_10147/api.raml#/web-api/end-points/%2Flot/post/request/default/default/lot/property/dossier/any/dossier/item1/property/parentDossier/any/parentDossier/item1/property/parentDossier/any/parentDossier
                            type: any
                            required: false
                          concept:
                            (amf-or):
                              -
                                type: object
                                displayName: Node identifier
                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                additionalProperties: true
                                properties:
                                  "@id":
                                    type: string
                                    (amf-format): uri
                                    required: true
                              -
                                type: object
                                (amf-and):
                                  -
                                    type: object
                                    displayName: Node identifier
                                    description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                    additionalProperties: true
                                    properties:
                                      "@id":
                                        type: string
                                        (amf-format): uri
                                        required: true
                                description: A concept cq a way cq an arrangement cq a contract for letting third parties supply lots to be auctioned off by the auction company.
                                additionalProperties: true
                                properties:
                                  id:
                                    description: Unique identifier for this Concept.
                                    type: integer
                                    minimum: 1
                                    required: true
                                  name:
                                    description: A (unique) name for this concept.
                                    type: string
                                    required: true
                                  description:
                                    description: The description of this concept.
                                    type: string
                                    required: false
                            description: The concept followed by this dossier.
                            type: any
                            required: true
                    description: The (optional) parent dossier.
                    type: any
                    required: false
                  concept:
                    (amf-or):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                      -
                        type: object
                        (amf-and):
                          -
                            type: object
                            displayName: Node identifier
                            description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                            additionalProperties: true
                            properties:
                              "@id":
                                type: string
                                (amf-format): uri
                                required: true
                        description: A concept cq a way cq an arrangement cq a contract for letting third parties supply lots to be auctioned off by the auction company.
                        additionalProperties: true
                        properties:
                          id:
                            description: Unique identifier for this Concept.
                            type: integer
                            minimum: 1
                            required: true
                          name:
                            description: A (unique) name for this concept.
                            type: string
                            required: true
                          description:
                            description: The description of this concept.
                            type: string
                            required: false
                    description: The concept followed by this dossier.
                    type: any
                    required: true
            description: The dossier this lot belongs to.
            type: any
            required: true
          nameEdits:
            (amf-or):
              -
                type: object
                displayName: Node identifier
                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                additionalProperties: true
                properties:
                  "@id":
                    type: string
                    (amf-format): uri
                    required: true
              -
                (amf-and):
                  -
                    type: object
                    (amf-and):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                    description: "A collection holding (references to) a number of related resources. E.g. results of a search query or entries of an address book. Difference of a collection over an array cq list is that it is referenceable and manipulatable on its own, and that metadata is available. Based on Hydra's collections: http://www.hydra-cg.com/spec/latest/core/#collections."
                    additionalProperties: true
                    properties:
                      member:
                        description: The members of this collection.
                        type: array
                        items:
                          type: any
                        required: true
                additionalProperties: true
                properties:
                  member:
                    type: array
                    items:
                      type: any
                    required: false
            description: The (i18n) name of this lot. (Encapsulated in logged edits.)
            type: any
            required: false
          descriptionEdits:
            (amf-or):
              -
                type: object
                displayName: Node identifier
                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                additionalProperties: true
                properties:
                  "@id":
                    type: string
                    (amf-format): uri
                    required: true
              -
                (amf-and):
                  -
                    type: object
                    (amf-and):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                    description: "A collection holding (references to) a number of related resources. E.g. results of a search query or entries of an address book. Difference of a collection over an array cq list is that it is referenceable and manipulatable on its own, and that metadata is available. Based on Hydra's collections: http://www.hydra-cg.com/spec/latest/core/#collections."
                    additionalProperties: true
                    properties:
                      member:
                        description: The members of this collection.
                        type: array
                        items:
                          type: any
                        required: true
                additionalProperties: true
                properties:
                  member:
                    type: array
                    items:
                      type: any
                    required: false
            description: The (i18n) description of the lot. (Encapsulated in logged edits.)
            type: any
            required: false
          picturesEdits:
            (amf-or):
              -
                type: object
                displayName: Node identifier
                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                additionalProperties: true
                properties:
                  "@id":
                    type: string
                    (amf-format): uri
                    required: true
              -
                (amf-and):
                  -
                    type: object
                    (amf-and):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                    description: "A collection holding (references to) a number of related resources. E.g. results of a search query or entries of an address book. Difference of a collection over an array cq list is that it is referenceable and manipulatable on its own, and that metadata is available. Based on Hydra's collections: http://www.hydra-cg.com/spec/latest/core/#collections."
                    additionalProperties: true
                    properties:
                      member:
                        description: The members of this collection.
                        type: array
                        items:
                          type: any
                        required: true
                additionalProperties: true
                properties:
                  member:
                    type: array
                    items:
                      type: any
                    required: false
            description: Collection of pictures cq images for this lot. (Encapsulated in logged edits.)
            type: any
            required: false
          startAmountEdits:
            (amf-or):
              -
                type: object
                displayName: Node identifier
                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                additionalProperties: true
                properties:
                  "@id":
                    type: string
                    (amf-format): uri
                    required: true
              -
                (amf-and):
                  -
                    type: object
                    (amf-and):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                    description: "A collection holding (references to) a number of related resources. E.g. results of a search query or entries of an address book. Difference of a collection over an array cq list is that it is referenceable and manipulatable on its own, and that metadata is available. Based on Hydra's collections: http://www.hydra-cg.com/spec/latest/core/#collections."
                    additionalProperties: true
                    properties:
                      member:
                        description: The members of this collection.
                        type: array
                        items:
                          type: any
                        required: true
                additionalProperties: true
                properties:
                  member:
                    type: array
                    items:
                      type: any
                    required: false
            description: The first bid on this lot should be equal to or greater than this money amount. (Encapsulated in logged edits.)
            type: any
            required: false
          lotTypeEdits:
            (amf-or):
              -
                type: object
                displayName: Node identifier
                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                additionalProperties: true
                properties:
                  "@id":
                    type: string
                    (amf-format): uri
                    required: true
              -
                (amf-and):
                  -
                    type: object
                    (amf-and):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                    description: "A collection holding (references to) a number of related resources. E.g. results of a search query or entries of an address book. Difference of a collection over an array cq list is that it is referenceable and manipulatable on its own, and that metadata is available. Based on Hydra's collections: http://www.hydra-cg.com/spec/latest/core/#collections."
                    additionalProperties: true
                    properties:
                      member:
                        description: The members of this collection.
                        type: array
                        items:
                          type: any
                        required: true
                additionalProperties: true
                properties:
                  member:
                    type: array
                    items:
                      type: any
                    required: false
            description: The type of Lot. (Encapsulated in logged edits.)
            type: any
            required: false
          deliveryMethodEdits:
            (amf-or):
              -
                type: object
                displayName: Node identifier
                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                additionalProperties: true
                properties:
                  "@id":
                    type: string
                    (amf-format): uri
                    required: true
              -
                (amf-and):
                  -
                    type: object
                    (amf-and):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                    description: "A collection holding (references to) a number of related resources. E.g. results of a search query or entries of an address book. Difference of a collection over an array cq list is that it is referenceable and manipulatable on its own, and that metadata is available. Based on Hydra's collections: http://www.hydra-cg.com/spec/latest/core/#collections."
                    additionalProperties: true
                    properties:
                      member:
                        description: The members of this collection.
                        type: array
                        items:
                          type: any
                        required: true
                additionalProperties: true
                properties:
                  member:
                    type: array
                    items:
                      type: any
                    required: false
            description: The delivery method for this lot. (Encapsulated in logged edits.)
            type: any
            required: false
          categoryEdits:
            (amf-or):
              -
                type: object
                displayName: Node identifier
                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                additionalProperties: true
                properties:
                  "@id":
                    type: string
                    (amf-format): uri
                    required: true
              -
                (amf-and):
                  -
                    type: object
                    (amf-and):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                    description: "A collection holding (references to) a number of related resources. E.g. results of a search query or entries of an address book. Difference of a collection over an array cq list is that it is referenceable and manipulatable on its own, and that metadata is available. Based on Hydra's collections: http://www.hydra-cg.com/spec/latest/core/#collections."
                    additionalProperties: true
                    properties:
                      member:
                        description: The members of this collection.
                        type: array
                        items:
                          type: any
                        required: true
                additionalProperties: true
                properties:
                  member:
                    type: array
                    items:
                      type: any
                    required: false
            description: The (conceptual) category which this lot is in. (Encapsulated in logged edits.)
            type: any
            required: false
          publishedDate:
            description: The (last) time this lot was published.
            type: datetime
            required: false
          status:
            (amf-and):
              -
                type: string
                description: The status of the edit of a property. E.g. Some lot has received the name 'boxspring matras'. The status of that lot's name is 'ACCEPTED'.
                enum:
                  - NEEDS_REVISION
                  - NEEDS_ACCEPTANCE
                  - ACCEPTED
                  - PUBLISHED
            description: The (derived) revision status of this Lot. It is the lowest revision status of all individual properties.
            type: any
            required: false
          buy:
            (amf-or):
              -
                type: object
                displayName: Node identifier
                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                additionalProperties: true
                properties:
                  "@id":
                    type: string
                    (amf-format): uri
                    required: true
              -
                type: object
                (amf-and):
                  -
                    type: object
                    displayName: Node identifier
                    description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                    additionalProperties: true
                    properties:
                      "@id":
                        type: string
                        (amf-format): uri
                        required: true
                description: The buy cq purchase of a Lot.
                additionalProperties: true
                properties:
                  id:
                    description: Unique identifier for this buy.
                    type: integer
                    minimum: 0
                    required: true
                  lot:
                    (amf-or):
                      -
                        type: object
                        displayName: Node identifier
                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                        additionalProperties: true
                        properties:
                          "@id":
                            type: string
                            (amf-format): uri
                            required: true
                      -
                        type: object
                        (amf-and):
                          -
                            type: object
                            displayName: Node identifier
                            description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                            additionalProperties: true
                            properties:
                              "@id":
                                type: string
                                (amf-format): uri
                                required: true
                        description: A (nascent) lot in some auction.
                        additionalProperties: true
                        properties:
                          id:
                            description: Unique identifier for this lot in the OKAA scope.
                            type: integer
                            minimum: 1
                            required: false
                          publishedId:
                            description: Unique identifier for this lot on the website.
                            type: integer
                            minimum: 1
                            required: false
                          lotNumber:
                            description: Unique identifier for this lot within an auction. Together with the auction id, it also uniquely identifies the lot globally.
                            type: integer
                            minimum: 1
                            required: false
                          externalId:
                            description: The owner of this lot uses this identifier in his own administration to reference this lot.
                            type: string
                            required: false
                          auction:
                            (amf-or):
                              -
                                type: object
                                displayName: Node identifier
                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                additionalProperties: true
                                properties:
                                  "@id":
                                    type: string
                                    (amf-format): uri
                                    required: true
                              -
                                type: object
                                (amf-and):
                                  -
                                    type: object
                                    displayName: Node identifier
                                    description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                    additionalProperties: true
                                    properties:
                                      "@id":
                                        type: string
                                        (amf-format): uri
                                        required: true
                                description: An auction.
                                additionalProperties: true
                                properties:
                                  id:
                                    description: Unique identifier of this auction on the website.
                                    type: integer
                                    minimum: 1
                                    required: true
                                  auctionTemplate:
                                    type: object
                                    (amf-and):
                                      -
                                        type: object
                                        displayName: Node identifier
                                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                        additionalProperties: true
                                        properties:
                                          "@id":
                                            type: string
                                            (amf-format): uri
                                            required: true
                                    description: A template for an auction.
                                    additionalProperties: true
                                    properties:
                                      id:
                                        description: Unique identifier (number) for this auction template.
                                        type: integer
                                        minimum: 1
                                        required: true
                                      name:
                                        description: The name of this auction type.
                                        type: string
                                        required: true
                                      startTime:
                                        description: The usual start time for auctions created from this template.
                                        type: string
                                        pattern: ([01]?[0-9]|2[0-3]):[0-5][0-9]
                                        required: false
                                      duration:
                                        description: The usual duration for auctions created from this template. (In minutes.)
                                        type: integer
                                        minimum: 0
                                        required: false
                                      recurrence:
                                        description: A recurrence rule to calculate the next occurence. In iCalendar RRULE format. E.g. RRULE:FREQ=WEEKLY;BYDAY=MO
                                        type: string
                                        required: false
                                    required: true
                                  name:
                                    (amf-and):
                                      -
                                        type: object
                                        description: "A collection of translations of the same semantic string cq message. Compatible with a language map in JSON-LD: http://www.w3.org/TR/json-ld/#dfn-language-map"
                                        additionalProperties: true
                                        (amf-additionalProperties):
                                          type: string
                                          description: The message cq string in one specific language. The name of the property is a language tag.
                                        properties: {}
                                    description: The (i18n) name of the auction.
                                    type: any
                                    required: true
                                  description:
                                    (amf-and):
                                      -
                                        type: object
                                        description: "A collection of translations of the same semantic string cq message. Compatible with a language map in JSON-LD: http://www.w3.org/TR/json-ld/#dfn-language-map"
                                        additionalProperties: true
                                        (amf-additionalProperties):
                                          type: string
                                          description: The message cq string in one specific language. The name of the property is a language tag.
                                        properties: {}
                                    description: The (i18n) description of the auction.
                                    type: any
                                    required: false
                                  startDate:
                                    description: Opening date and time of this auction. This means the earliest date+time that bidding may start on any of the lots.
                                    type: datetime
                                    required: true
                                  endDate:
                                    description: Closing date and time of this auction. This means the earliest date+time that bidding will stop on any of the lots.
                                    type: datetime
                                    required: true
                            description: The auction this lot belongs to.
                            type: any
                            required: false
                          dossier:
                            (amf-or):
                              -
                                type: object
                                displayName: Node identifier
                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                additionalProperties: true
                                properties:
                                  "@id":
                                    type: string
                                    (amf-format): uri
                                    required: true
                              -
                                type: object
                                (amf-and):
                                  -
                                    type: object
                                    displayName: Node identifier
                                    description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                    additionalProperties: true
                                    properties:
                                      "@id":
                                        type: string
                                        (amf-format): uri
                                        required: true
                                description: A client's dossier.
                                additionalProperties: true
                                properties:
                                  id:
                                    description: Unique identifier for this dossier. Usually formatted as a year followed by some number. E.g. 2014047216
                                    type: integer
                                    minimum: 0
                                    required: true
                                  client:
                                    (amf-or):
                                      -
                                        type: object
                                        displayName: Node identifier
                                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                        additionalProperties: true
                                        properties:
                                          "@id":
                                            type: string
                                            (amf-format): uri
                                            required: true
                                      -
                                        type: object
                                        (amf-and):
                                          -
                                            type: object
                                            displayName: Node identifier
                                            description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                            additionalProperties: true
                                            properties:
                                              "@id":
                                                type: string
                                                (amf-format): uri
                                                required: true
                                        description: A client. Most likely some company.
                                        additionalProperties: true
                                        properties:
                                          id:
                                            description: Unique identifier for this client. Generated by the OKAA app.
                                            type: integer
                                            minimum: 0
                                            required: true
                                          name:
                                            description: The name of this client. Does not have to be unique. But must be specified.
                                            type: string
                                            required: true
                                          contactPersons:
                                            description: Set of contact persons for this client.
                                            type: array
                                            items:
                                              type: any
                                            required: false
                                          dossiers:
                                            description: Set of dossiers this client has.
                                            type: array
                                            items:
                                              type: any
                                            required: false
                                    description: The client which this dossier is for.
                                    type: any
                                    required: true
                                  parentDossier:
                                    (amf-or):
                                      -
                                        type: object
                                        displayName: Node identifier
                                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                        additionalProperties: true
                                        properties:
                                          "@id":
                                            type: string
                                            (amf-format): uri
                                            required: true
                                      -
                                        type: object
                                        (amf-and):
                                          -
                                            type: object
                                            displayName: Node identifier
                                            description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                            additionalProperties: true
                                            properties:
                                              "@id":
                                                type: string
                                                (amf-format): uri
                                                required: true
                                        description: A client's dossier.
                                        additionalProperties: true
                                        properties:
                                          id:
                                            description: Unique identifier for this dossier. Usually formatted as a year followed by some number. E.g. 2014047216
                                            type: integer
                                            minimum: 0
                                            required: true
                                          client:
                                            (amf-or):
                                              -
                                                type: object
                                                displayName: Node identifier
                                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                                additionalProperties: true
                                                properties:
                                                  "@id":
                                                    type: string
                                                    (amf-format): uri
                                                    required: true
                                              -
                                                type: object
                                                (amf-and):
                                                  -
                                                    type: object
                                                    displayName: Node identifier
                                                    description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                                    additionalProperties: true
                                                    properties:
                                                      "@id":
                                                        type: string
                                                        (amf-format): uri
                                                        required: true
                                                description: A client. Most likely some company.
                                                additionalProperties: true
                                                properties:
                                                  id:
                                                    description: Unique identifier for this client. Generated by the OKAA app.
                                                    type: integer
                                                    minimum: 0
                                                    required: true
                                                  name:
                                                    description: The name of this client. Does not have to be unique. But must be specified.
                                                    type: string
                                                    required: true
                                                  contactPersons:
                                                    description: Set of contact persons for this client.
                                                    type: array
                                                    items:
                                                      type: any
                                                    required: false
                                                  dossiers:
                                                    description: Set of dossiers this client has.
                                                    type: array
                                                    items:
                                                      type: any
                                                    required: false
                                            description: The client which this dossier is for.
                                            type: any
                                            required: true
                                          parentDossier:
                                            description: The (optional) parent dossier.
                                            (amf-or):
                                              -
                                                type: object
                                                displayName: Node identifier
                                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                                additionalProperties: true
                                                properties:
                                                  "@id":
                                                    type: string
                                                    (amf-format): uri
                                                    required: true
                                              -
                                                type: object
                                                x-amf-recursive: file://amf-client/shared/src/test/resources/production/api_6109_ver_10147/api.raml#/web-api/end-points/%2Flot/post/request/default/default/lot/property/dossier/any/dossier/item1/property/parentDossier/any/parentDossier/item1/property/parentDossier/any/parentDossier
                                            type: any
                                            required: false
                                          concept:
                                            (amf-or):
                                              -
                                                type: object
                                                displayName: Node identifier
                                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                                additionalProperties: true
                                                properties:
                                                  "@id":
                                                    type: string
                                                    (amf-format): uri
                                                    required: true
                                              -
                                                type: object
                                                (amf-and):
                                                  -
                                                    type: object
                                                    displayName: Node identifier
                                                    description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                                    additionalProperties: true
                                                    properties:
                                                      "@id":
                                                        type: string
                                                        (amf-format): uri
                                                        required: true
                                                description: A concept cq a way cq an arrangement cq a contract for letting third parties supply lots to be auctioned off by the auction company.
                                                additionalProperties: true
                                                properties:
                                                  id:
                                                    description: Unique identifier for this Concept.
                                                    type: integer
                                                    minimum: 1
                                                    required: true
                                                  name:
                                                    description: A (unique) name for this concept.
                                                    type: string
                                                    required: true
                                                  description:
                                                    description: The description of this concept.
                                                    type: string
                                                    required: false
                                            description: The concept followed by this dossier.
                                            type: any
                                            required: true
                                    description: The (optional) parent dossier.
                                    type: any
                                    required: false
                                  concept:
                                    (amf-or):
                                      -
                                        type: object
                                        displayName: Node identifier
                                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                        additionalProperties: true
                                        properties:
                                          "@id":
                                            type: string
                                            (amf-format): uri
                                            required: true
                                      -
                                        type: object
                                        (amf-and):
                                          -
                                            type: object
                                            displayName: Node identifier
                                            description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                            additionalProperties: true
                                            properties:
                                              "@id":
                                                type: string
                                                (amf-format): uri
                                                required: true
                                        description: A concept cq a way cq an arrangement cq a contract for letting third parties supply lots to be auctioned off by the auction company.
                                        additionalProperties: true
                                        properties:
                                          id:
                                            description: Unique identifier for this Concept.
                                            type: integer
                                            minimum: 1
                                            required: true
                                          name:
                                            description: A (unique) name for this concept.
                                            type: string
                                            required: true
                                          description:
                                            description: The description of this concept.
                                            type: string
                                            required: false
                                    description: The concept followed by this dossier.
                                    type: any
                                    required: true
                            description: The dossier this lot belongs to.
                            type: any
                            required: true
                          nameEdits:
                            (amf-or):
                              -
                                type: object
                                displayName: Node identifier
                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                additionalProperties: true
                                properties:
                                  "@id":
                                    type: string
                                    (amf-format): uri
                                    required: true
                              -
                                (amf-and):
                                  -
                                    type: object
                                    (amf-and):
                                      -
                                        type: object
                                        displayName: Node identifier
                                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                        additionalProperties: true
                                        properties:
                                          "@id":
                                            type: string
                                            (amf-format): uri
                                            required: true
                                    description: "A collection holding (references to) a number of related resources. E.g. results of a search query or entries of an address book. Difference of a collection over an array cq list is that it is referenceable and manipulatable on its own, and that metadata is available. Based on Hydra's collections: http://www.hydra-cg.com/spec/latest/core/#collections."
                                    additionalProperties: true
                                    properties:
                                      member:
                                        description: The members of this collection.
                                        type: array
                                        items:
                                          type: any
                                        required: true
                                additionalProperties: true
                                properties:
                                  member:
                                    type: array
                                    items:
                                      type: any
                                    required: false
                            description: The (i18n) name of this lot. (Encapsulated in logged edits.)
                            type: any
                            required: false
                          descriptionEdits:
                            (amf-or):
                              -
                                type: object
                                displayName: Node identifier
                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                additionalProperties: true
                                properties:
                                  "@id":
                                    type: string
                                    (amf-format): uri
                                    required: true
                              -
                                (amf-and):
                                  -
                                    type: object
                                    (amf-and):
                                      -
                                        type: object
                                        displayName: Node identifier
                                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                        additionalProperties: true
                                        properties:
                                          "@id":
                                            type: string
                                            (amf-format): uri
                                            required: true
                                    description: "A collection holding (references to) a number of related resources. E.g. results of a search query or entries of an address book. Difference of a collection over an array cq list is that it is referenceable and manipulatable on its own, and that metadata is available. Based on Hydra's collections: http://www.hydra-cg.com/spec/latest/core/#collections."
                                    additionalProperties: true
                                    properties:
                                      member:
                                        description: The members of this collection.
                                        type: array
                                        items:
                                          type: any
                                        required: true
                                additionalProperties: true
                                properties:
                                  member:
                                    type: array
                                    items:
                                      type: any
                                    required: false
                            description: The (i18n) description of the lot. (Encapsulated in logged edits.)
                            type: any
                            required: false
                          picturesEdits:
                            (amf-or):
                              -
                                type: object
                                displayName: Node identifier
                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                additionalProperties: true
                                properties:
                                  "@id":
                                    type: string
                                    (amf-format): uri
                                    required: true
                              -
                                (amf-and):
                                  -
                                    type: object
                                    (amf-and):
                                      -
                                        type: object
                                        displayName: Node identifier
                                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                        additionalProperties: true
                                        properties:
                                          "@id":
                                            type: string
                                            (amf-format): uri
                                            required: true
                                    description: "A collection holding (references to) a number of related resources. E.g. results of a search query or entries of an address book. Difference of a collection over an array cq list is that it is referenceable and manipulatable on its own, and that metadata is available. Based on Hydra's collections: http://www.hydra-cg.com/spec/latest/core/#collections."
                                    additionalProperties: true
                                    properties:
                                      member:
                                        description: The members of this collection.
                                        type: array
                                        items:
                                          type: any
                                        required: true
                                additionalProperties: true
                                properties:
                                  member:
                                    type: array
                                    items:
                                      type: any
                                    required: false
                            description: Collection of pictures cq images for this lot. (Encapsulated in logged edits.)
                            type: any
                            required: false
                          startAmountEdits:
                            (amf-or):
                              -
                                type: object
                                displayName: Node identifier
                                description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                additionalProperties: true
                                properties:
                                  "@id":
                                    type: string
                                    (amf-format): uri
                                    required: true
                              -
                                (amf-and):
                                  -
                                    type: object
                                    (amf-and):
                                      -
                                        type: object
                                        displayName: Node identifier
                                        description: Dereferencing the link in @id results in a full representation of the actual object. This is a very small subset of JSON-LD. See http://www.w3.org/TR/json-ld/#node-identifiers
                                        additionalProperties: true
                                        properties:
                                          "@id":
                                            type: string
                                            (amf-format): uri
                                            required: true
                                    description: "A collection holding (references to) a number of related resources. E.g. results of a search query or entries of an address book. Difference of a collection over an array cq list is that it is referenceable and manipulatable on its own, and that metadata is available. Based on Hydra's collections: http://www.hydra-cg.com/spec/latest/core/#collections."
                                    additionalProperties: true
                                    properties:
                                      member:
                                        description: The members of this collection.
                                        type: array
                                        items:
                                          type: any
                                        required: true
                                additionalProperties: true
                                properties:
                                  member:
                                    type: array
                                    items:
                                      type: any
                                    required: false
                            description: The first bid on this lot should be equal to or greater than this money amount. (Encapsulated in logged edits.)
                            type: any
                            required: false
                          lotTypeEdits:
                            (amf-or):
                              -
                                type: object
                                displayName: Node identifier
[...]
