body{
    background: #E9EBEE;
}

.left{
    align-self: flex-start;
}
.right{
    align-self: flex-end;

}
.formContainer{
    display:flex;
    justify-content: space-between;
    width: 100%;
}


.formApi {
    background: white;
    padding: 15px;
    margin: 10px;
    width: 100%;
    border:1px solid #dddddd;

}
.formBuildingContainer{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.formBuilding{

}

.field{
    display: flex;
    justify-content: space-between;
    width: 60%;

    .labelContainer{

    }
}
