#%RAML 1.0
title: Field Nation V2 API
version: 2.0.0
baseUri: 'http://api.fieldnation.com/api/rest/v2'
mediaType:
  - application/json
  - application/x-www-form-urlencoded
  - multipart/form-data
protocols:
  - HTTPS
uses:
  fn-misc: lib/misc_types.raml
annotationTypes:
  oas-summary:
    type: string
    allowedTargets: Method
  oas-responses-default:
    type: any
    allowedTargets: Method
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-format:
    type: string
    allowedTargets: TypeDeclaration
/workorders:
  displayName: workorders
  '/{work_order_id}':
    displayName: '{work_order_id}'
    /requests:
      displayName: requests
      '/{request_id}':
        displayName: '{request_id}'
        uriParameters:
          request_id:
            description: ID of work order request/counter offer
            required: true
            type: integer
        get:
          displayName: getRequestByWorkOrderAndRequest
          description: Get request/ counter offer for assigned work order.
          (oas-summary): Get Request/Counter offer by Work Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.Request
              description: Gets requests / counter offers for a work order
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        delete:
          displayName: deleteRequestByWorkOrder
          description: Removes or hides a request by a user from a work order
          (oas-summary): Delete Request by Work Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              description: Success
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
      post:
        displayName: requestByWorkOrder
        description: Request or un-hide a request for a work order
        (oas-summary): Request by Work Order
        body:
          application/json:
            type: fn-misc.Request
            (oas-body-name): request
            description: JSON Model
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: Success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
      get:
        displayName: getRequestsByWorkOrder
        description: Returns a list of work order requests or counter offers requested by the assigned provider.
        (oas-summary): Get Requests/Counter offers by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Requests
            description: Request/ Counter Offer
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
    /declines:
      displayName: declines
      post:
        displayName: declineByWorkOrder
        description: Decline a work order
        (oas-summary): Decline by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: Success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
      '/{user_id}':
        displayName: '{user_id}'
        uriParameters:
          user_id:
            description: User id
            required: true
            type: integer
        delete:
          displayName: declineRequestByWorkOrder
          description: Removes or hides a request by a user from a work order
          (oas-summary): Decline Request by Work Order and userId
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
          (oas-tags):
            - workorder
    /assignee:
      displayName: assignee
      get:
        displayName: getAssigneeByWorkOrder
        description: Get assignee of a work order
        (oas-summary): Get Assignee by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Assignee
            description: Success
        (oas-tags):
          - workorder
      post:
        displayName: assignUserByWorkOrder
        description: Assign a user to a work order
        (oas-summary): Assign User by Work Order
        body:
          application/json:
            type: fn-misc.Assignee
            (oas-body-name): assignee
            description: JSON Model
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            description: Success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      delete:
        displayName: unassignUserByWorkOrderAndUser
        description: Unassign user from a work order
        (oas-summary): Unassign User by Work Order and User
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.User
            description: Success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
    /route:
      displayName: route
      post:
        displayName: routeUserByWorkOrder
        description: Route a work order to a user
        (oas-summary): Route User by Work Order
        body:
          application/json:
            type: fn-misc.Route
            (oas-body-name): route
            description: JSON Model
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.User
            description: Success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
      delete:
        displayName: unRouteUserByWorkOrder
        description: Unroute a work order from a user
        (oas-summary): Unroute User by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.User
            description: Success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
    uriParameters:
      work_order_id:
        description: ID of work order
        required: true
        type: integer
    put:
      displayName: updateWorkOrderByWorkOrder
      description: Updates a work order by its id
      (oas-summary): Update Work Order by Work Order
      body:
        application/json:
          type: fn-misc.WorkOrder
          (oas-body-name): work_order
          description: Work order model
      (oas-responses-default):
        body:
          application/json:
            type: fn-misc.Error
        description: Unexpected error
      responses:
        '200':
          body:
            application/json:
              type: fn-misc.WorkOrder
          description: success
      queryParameters:
        async:
          description: Asynchronous
          required: false
          type: boolean
      (oas-tags):
        - workorder
    /contacts:
      displayName: contacts
      get:
        displayName: getContactsByWorkOrder
        description: Get a list of contacts on a work order
        (oas-summary): Get Contacts by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Contacts
            description: Success
        (oas-tags):
          - workorder
      post:
        displayName: addContactByWorkOrder
        description: Adds a contact to a work order
        (oas-summary): Add Contact by Work Order
        body:
          application/json:
            type: fn-misc.Contact
            (oas-body-name): contact
            description: JSON Model
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: Success
        (oas-tags):
          - workorder
      '/{contact_id}':
        displayName: '{contact_id}'
        uriParameters:
          contact_id:
            description: Contact id
            required: true
            type: integer
        put:
          displayName: updateContactByWorkOrderAndContact
          description: Update contact of a work order
          (oas-summary): Update Contact by Work Order and Contact
          body:
            application/json:
              type: fn-misc.Contact
              (oas-body-name): contact
              description: JSON Model
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          (oas-tags):
            - workorder
        delete:
          displayName: deleteContactByWorkOrderAndContact
          description: Delete a work order contact
          (oas-summary): Delete Contact by Work Order and Contact
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          (oas-tags):
            - workorder
    /pay:
      displayName: pay
      get:
        displayName: getPayByWorkOrder
        description: Gets the pay for a work order
        (oas-summary): Get Pay by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Pay
            description: pay
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      put:
        displayName: updatePayByWorkOrder
        description: 'Updates the pay of a work order, or requests an adjustment'
        (oas-summary): Update Pay by Work Order
        body:
          application/json:
            type: fn-misc.Pay
            (oas-body-name): pay
            description: Pay
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: updated
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
    /schedule:
      displayName: schedule
      get:
        displayName: getScheduleByWorkOrder
        description: Gets the service schedule for a work order
        (oas-summary): Get Schedule by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Schedule
            description: schedule
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      put:
        displayName: updateScheduleByWorkOrder
        description: Updates the service schedule or eta of a work order (depending on your role)
        (oas-summary): Update Schedule by Work Order
        body:
          application/json:
            type: fn-misc.Schedule
            (oas-body-name): schedule
            description: JSON Payload
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: updated
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
    /eta:
      displayName: eta
      get:
        displayName: getETAByWorkOrder
        description: Gets the eta for a work order
        (oas-summary): Get ETA by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.ETA
            description: eta
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      put:
        displayName: updateETAByWorkOrder
        description: Updates the eta of a work order (depending on your role)
        (oas-summary): Update ETA by Work Order
        body:
          application/json:
            type: fn-misc.ETA
            (oas-body-name): eta
            description: JSON Payload
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: updated
        queryParameters:
          confirm:
            description: Confirm
            required: false
            type: boolean
          update_from_ivr:
            description: update from IVR
            required: false
            type: boolean
          async:
            description: Async
            required: false
            type: boolean
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
    /location:
      displayName: location
      get:
        displayName: getLocationByWorkOrder
        description: Gets the address and geo information for a work order
        (oas-summary): Get Location by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Location
            description: location
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      put:
        displayName: updateLocationByWorkOrder
        description: Updates the location of a work order (depending on your role)
        (oas-summary): Update Location by Work Order
        body:
          application/json:
            type: fn-misc.Location
            (oas-body-name): location
            description: JSON Payload
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: updated
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
    /shipments:
      displayName: shipments
      get:
        displayName: getShipmentsByWorkOrder
        description: Get a list of shipments on a work order
        (oas-summary): Get Shipments by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Shipments
            description: Success
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      post:
        displayName: addShipmentByWorkOrder
        description: Adds a shipment to a work order
        (oas-summary): Add Shipment by Work Order
        body:
          application/json:
            type: fn-misc.Shipment
            (oas-body-name): shipment
            description: Shipment
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: Success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      '/{shipment_id}':
        displayName: '{shipment_id}'
        uriParameters:
          shipment_id:
            description: Shipment id
            required: true
            type: integer
        put:
          displayName: updateShipmentByWorkOrderAndShipment
          description: Updates a shipment attached to a work order
          (oas-summary): Update Shipment by Work Order and Shipment
          body:
            application/json:
              type: fn-misc.Shipment
              (oas-body-name): shipment
              description: Shipment
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        delete:
          displayName: deleteShipmentByWorkOrderAndShipment
          description: Deletes a shipment from a work order
          (oas-summary): Delete Shipment by Work Order and Shipment
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
    /provider:
      displayName: provider
      /cancel:
        displayName: cancel
        post:
          displayName: removeProviderByWorkOrder
          description: Unassigns and removes a provider for a work order
          (oas-summary): Remove provider by work order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              description: success
          (oas-tags):
            - workorder
      /delay:
        displayName: delay
        post:
          displayName: acknowledgeDelayByWorkOrder
          description: Acknowledges a provider's delay on a work order
          (oas-summary): Acknowledge delay by work order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              description: success
          (oas-tags):
            - workorder
    /discounts:
      displayName: discounts
      get:
        displayName: getDiscountsByWorkOrder
        description: |
          Returns a list of discounts applied by the assigned provider to reduce the payout of the work order.
        (oas-summary): Get Work Order Discounts
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.PayModifiers
            description: discounts envelope
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      '/{discount_id}':
        displayName: '{discount_id}'
        uriParameters:
          discount_id:
            description: ID of the discount
            required: true
            type: integer
        put:
          displayName: updateDiscountByWorkOrder
          description: |
            Updates the amount or description of a discount applied to the work order.
          (oas-summary): Update Discount by Work Order
          body:
            application/json:
              type: fn-misc.PayModifier
              (oas-body-name): json
              description: Payload of the discount
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: discount
          (oas-tags):
            - workorder
        delete:
          displayName: deleteDiscountByWorkOrder
          description: |
            Allows an assigned provider to removes a discount they previously applied from a work order, increasing the amount they will be paid.
          (oas-summary): Delete Discount by WorK Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: discount
          (oas-tags):
            - workorder
      post:
        displayName: addDiscountByWorkOrder
        description: |
          Assigned provider route to adds and apply a discount to a work order which reduces the amount they will be paid.
        (oas-summary): Add Work Order Discount
        body:
          application/json:
            type: fn-misc.PayModifier
            (oas-body-name): json
            description: Payload of the discount
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: discount
        (oas-tags):
          - workorder
    /penalties:
      displayName: penalties
      get:
        displayName: getPenaltiesByWorkOrder
        description: Get a list of penalties and their applied status for a work order
        (oas-summary): Get Penalties by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.PayModifiers
            description: Success
        (oas-tags):
          - workorder
      '/{penalty_id}':
        displayName: '{penalty_id}'
        uriParameters:
          penalty_id:
            description: Penalty ID
            required: true
            type: integer
        get:
          displayName: getPenaltyByWorkOrderAndPenalty
          description: Gets a penalty option which would allow the raising of the amount paid to the provider if a condition being met.
          (oas-summary): Get Penalty by Work Order and Penalty
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.PayModifier
              description: Success
          (oas-tags):
            - workorder
        post:
          displayName: addPenaltyByWorkOrderAndPenalty
          description: Adds a penalty option which would allow the raising of the amount paid to the provider if a condition being met.
          (oas-summary): Add Penalty by Work Order and Penalty
          body:
            application/json:
              type: fn-misc.PayModifier
              (oas-body-name): penalty
              description: Penalty
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          (oas-tags):
            - workorder
        put:
          displayName: updatePenaltyByWorkOrderAndPenalty
          description: Updates a penalty option which would allow the raising of the amount paid to the provider if a condition being met.
          (oas-summary): Update Penalty by Work Order and Penalty
          body:
            application/json:
              type: fn-misc.PayModifier
              (oas-body-name): penalty
              description: Penalty
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          (oas-tags):
            - workorder
        delete:
          displayName: deletePenaltyByWorkOrderAndPenalty
          description: Removes a penalty option which would allow the raising of the amount paid to the provider if a condition being met.
          (oas-summary): Delete Penalty by Work Order and Penalty
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          (oas-tags):
            - workorder
    /swaps:
      displayName: swaps
      '/{swap_request_id}':
        displayName: '{swap_request_id}'
        /accept:
          displayName: accept
          post:
            displayName: acceptSwapRequest
            description: Accept work order swap request.
            (oas-summary): Accept Swap Request
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.SwapResponse
                description: Accept Swap Success
            (oas-tags):
              - workorder
        /decline:
          displayName: decline
          post:
            displayName: declineSwapRequest
            description: Decline work order swap request.
            (oas-summary): Decline Swap Request
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.SwapResponse
                description: Decline Swap Success
            (oas-tags):
              - workorder
        /cancel:
          displayName: cancel
          post:
            displayName: cancelSwapRequest
            description: Cancel work order swap request.
            (oas-summary): Cancel Swap Request
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.SwapResponse
                description: Cancel Swap Success
            (oas-tags):
              - workorder
      get:
        displayName: getSwapsByWorkOrder
        description: Gets swap requests for a work order
        (oas-summary): Get Swaps by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Swaps
            description: swaps
        (oas-tags):
          - workorder
      post:
        displayName: addSwapByWorkOrder
        description: Requests a provider swap for a work order
        (oas-summary): Add Swap by Work Order
        body:
          application/json:
            type: fn-misc.Swap
            (oas-body-name): swap
            description: Swap
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: swaps
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      '/{swap_id}':
        displayName: '{swap_id}'
        uriParameters:
          swap_id:
            description: ID of swap
            required: true
            type: integer
        get:
          displayName: getSwapByWorkOrderAndSwap
          description: Gets a swap request by id
          (oas-summary): Get Swap by Work order and Problem
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.Swap
              description: swap
          (oas-tags):
            - workorder
        put:
          displayName: updateSwapByWorkOrderAndSwap
          description: Updates a swap request by id
          (oas-summary): Update Swap by Work order and Problem
          body:
            application/json:
              type: fn-misc.Swap
              (oas-body-name): swap
              description: Swap
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: swap
          queryParameters:
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
    /increases:
      displayName: increases
      get:
        displayName: getIncreasesByWorkOrder
        description: Returns a list of pay increases requested by the assigned provider.
        (oas-summary): Get Increases by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.PayIncreases
            description: Pay increase
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      '/{increase_id}':
        displayName: '{increase_id}'
        uriParameters:
          increase_id:
            description: ID of work order increase
            required: true
            type: integer
        get:
          displayName: getIncreaseByWorkOrderAndIncrease
          description: Get pay increase for assigned work order.
          (oas-summary): Get Increase by Work Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.PayIncrease
              description: Gets pay increase
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        delete:
          displayName: deleteIncreaseByWorkOrderAndIncrease
          description: Delete pay increase for assigned work order.
          (oas-summary): Delete Increase by Work Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        put:
          displayName: updateIncreaseByWorkOrderAndIncrease
          description: Update pay increase for assigned work order.
          (oas-summary): Update Increase by Work Order
          body:
            application/json:
              type: fn-misc.PayIncrease
              (oas-body-name): increase
              description: Increase structure for update
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Update pay increase
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
          (oas-tags):
            - workorder
      post:
        displayName: addIncreaseByWorkOrder
        description: Create pay increase for assigned work order.
        (oas-summary): Create Increase by Work Order
        body:
          application/json:
            type: fn-misc.PayIncrease
            (oas-body-name): increase
            description: Increase structure for update
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: Create pay increase
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
    /signatures:
      displayName: signatures
      post:
        displayName: addSignatureByWorkOrder
        description: Add signature by work order
        (oas-summary): Add Signature by Work Order
        body:
          application/json:
            type: fn-misc.Signature
            (oas-body-name): signature
            description: Signature JSON
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: signature
        queryParameters:
          async:
            description: async
            required: false
            type: boolean
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      '/{signature_id}':
        displayName: '{signature_id}'
        uriParameters:
          signature_id:
            description: ID of signature
            required: true
            type: integer
        delete:
          displayName: deleteSignatureByWorkOrderAndSignature
          description: Delete signature by work order and signature
          (oas-summary): Delete Signature by Work Order and Signature
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: success
          queryParameters:
            async:
              description: async
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        get:
          displayName: getSignatureByWorkOrderAndSignature
          description: Gets a single signature uploaded by the assigned provider
          (oas-summary): Get Signature by Work Order and Signature
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.Signature
              description: Signature
          queryParameters:
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
      get:
        displayName: getSignaturesByWorkOrder
        description: Returns a list of signatures uploaded by the assigned provider
        (oas-summary): Get Signatures by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Signatures
            description: Signatures
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
    /bonuses:
      displayName: bonuses
      get:
        displayName: getBonusesByWorkOrder
        description: Get a list of available bonuses on a work order that can be applied to increase the amount paid to the provider upon conditions being met
        (oas-summary): Get Bonuses by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.PayModifiers
            description: Success
        (oas-tags):
          - workorder
      '/{bonus_id}':
        displayName: '{bonus_id}'
        uriParameters:
          bonus_id:
            description: Bonus ID
            required: true
            type: integer
        get:
          displayName: getBonusByWorkOrderAndBonus
          description: Gets a bonus for a work order
          (oas-summary): Get Bonus by Work Order and Bonus
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.PayModifier
              description: Success
          (oas-tags):
            - workorder
        post:
          displayName: addBonusByWorkOrderAndBonus
          description: Adds a bonus on a work order which can conditionally increase the amount paid to the provider upon conditions being met
          (oas-summary): Add Bonus by Work Order and Bonus
          body:
            application/json:
              type: fn-misc.PayModifier
              (oas-body-name): bonus
              description: Bonus
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          (oas-tags):
            - workorder
        put:
          displayName: updateBonusByWorkOrderAndBonus
          description: Updates a bonus on a work order which can conditionally increase the amount paid to the provider upon conditions being met
          (oas-summary): Update Bonus by Work Order and Bonus
          body:
            application/json:
              type: fn-misc.PayModifier
              (oas-body-name): bonus
              description: Bonus
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          (oas-tags):
            - workorder
        delete:
          displayName: deleteBonusByWorkOrderAndBonus
          description: Deletes a bonus from a work order
          (oas-summary): Delete Bonus by Work Order and Bonus
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          (oas-tags):
            - workorder
    /time_logs:
      displayName: time_logs
      post:
        displayName: addTimeLogByWorkOrder
        description: Add time log for work order.
        (oas-summary): Add Time Log by Work Order
        body:
          application/json:
            type: fn-misc.TimeLog
            (oas-body-name): time_log
            description: Check in information
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: time log
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      '/{workorder_hours_id}':
        displayName: '{workorder_hours_id}'
        uriParameters:
          workorder_hours_id:
            description: ID of work order hour
            required: true
            type: integer
        put:
          displayName: updateTimeLogByWorkOrder
          description: Update time log for assigned work order.
          (oas-summary): Update Time Log by Work Order
          body:
            application/json:
              type: fn-misc.TimeLog
              (oas-body-name): time_log
              description: Check in information
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
            async:
              description: Return the model in the response (slower)
              type: boolean
          (oas-tags):
            - workorder
        /verify:
          displayName: verify
          put:
            displayName: verifyTimeLogByWorkOrder
            description: Verify time log for assigned work order
            (oas-summary): Verify Time Log by Work Order
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.WorkOrder
                description: Success
            queryParameters:
              async:
                description: Return the model in the response (slower)
                type: boolean
            (oas-tags):
              - workorder
        delete:
          displayName: deleteTimeLogByWorkOrder
          description: Remove time log for assigned work order
          (oas-summary): Delete Time Log by Work Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
            async:
              description: Return the model in the response (slower)
              type: boolean
          (oas-tags):
            - workorder
      put:
        displayName: updateAllTimeLogsByWorkOrder
        description: Update all time logs for assigned work order.
        (oas-summary): Update All Time Logs by Work Order
        body:
          application/json:
            type: fn-misc.TimeLog
            (oas-body-name): time_log
            description: Check in information
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: Success
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
          async:
            description: Return the model in the response (slower)
            type: boolean
        (oas-tags):
          - workorder
      get:
        displayName: getTimeLogsByWorkOrder
        description: Returns a list of time logs applied by the assigned provider
        (oas-summary): Get Time Logs by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.TimeLogs
            description: Time logs
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
    /qualifications:
      displayName: qualifications
      post:
        displayName: addQualificationByWorkOrder
        description: Add qualification for work order.
        (oas-summary): Add Qualification by Work Order
        body:
          application/json:
            type: fn-misc.Qualifications
            (oas-body-name): qualifications
            description: Qualification information
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: qualification
        (oas-tags):
          - workorder
      '/{qualification_id}':
        displayName: '{qualification_id}'
        uriParameters:
          qualification_id:
            description: ID of qualification
            required: true
            type: integer
        delete:
          displayName: removeQualificationByWorkOrder
          description: Remove qualification work order
          (oas-summary): Remove Qualification by Work Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          (oas-tags):
            - workorder
      get:
        displayName: getQualificationsByWorkOrder
        description: Returns a list of qualifications applied to work order
        (oas-summary): Get Qualifications by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Qualifications
            description: Qualifications
        (oas-tags):
          - workorder
      put:
        displayName: updateQualificationByWorkOrder
        description: Update qualification for work order.
        (oas-summary): Update Qualification by Work Order
        body:
          application/json:
            type: fn-misc.Qualifications
            (oas-body-name): qualifications
            description: Qualification information
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: qualification
        (oas-tags):
          - workorder
    /milestones:
      displayName: milestones
      get:
        displayName: getMilestonesByWorkOrder
        description: Get the milestones of a work order
        (oas-summary): Get milestones by work order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Milestones
            description: Success
        (oas-tags):
          - workorder
    /messages:
      displayName: messages
      get:
        displayName: getMessagesByWorkOrder
        description: Gets a list of work order messages
        (oas-summary): Get Messages by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Messages
            description: messages
        (oas-tags):
          - workorder
      /counts:
        displayName: counts
        get:
          displayName: getMessageCountsByWorkOrder
          description: Get all of the metadata and counts for the messages on a work order
          (oas-summary): Get the counts of messages
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.MessageCounts
              description: Success
          (oas-tags):
            - workorder
      '/{message_id}':
        displayName: '{message_id}'
        uriParameters:
          message_id:
            description: ID of work order message
            required: true
            type: integer
        put:
          displayName: updateMessageByWorkOrder
          description: Updates a message on a work order
          (oas-summary): Update Message by Work Order
          body:
            application/json:
              type: fn-misc.Message
              (oas-body-name): json
              description: JSON payload
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        post:
          displayName: replyMessageByWorkOrder
          description: Reply a message on a work order
          (oas-summary): Reply Message by Work Order
          body:
            application/json:
              type: fn-misc.Message
              (oas-body-name): json
              description: JSON payload
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.Messages
              description: Success
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        delete:
          displayName: deleteMessageByWorkOrder
          description: Deletes a message on a work order
          (oas-summary): Delete Message by Work Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
      post:
        displayName: addMessageByWorkOrder
        description: Adds a message to a work order
        (oas-summary): Add Message by Work Order
        body:
          application/json:
            type: fn-misc.Message
            (oas-body-name): json
            description: JSON payload
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Messages
            description: Success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
    /threads:
      displayName: threads
      get:
        displayName: getThreadByWorkOrder
        description: Get a thread for a given work order
        (oas-summary): Get Thread by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected Error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Threads
            description: threads
        queryParameters:
          list:
            description: Request a thread
            type: string
        (oas-tags):
          - workorder
      '/{thread_id}':
        displayName: '{thread_id}'
        uriParameters:
          thread_id:
            required: true
            type: integer
        get:
          displayName: getThreadByWorkOrderAndThread
          description: Get a specific thread on a work order
          (oas-summary): Get a thread on a work order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected Error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.Threads
              description: Thread
          (oas-tags):
            - workorder
        delete:
          displayName: deleteThreadByWorkOrderAndThread
          description: Delete a message thread
          (oas-summary): Delete a message thread
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected Error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.Threads
              description: Thread
          (oas-tags):
            - workorder
        '/{message_id}':
          displayName: '{message_id}'
          uriParameters:
            message_id:
              description: ID of a message
              required: true
              type: integer
          put:
            displayName: updateByWorkOrderAndThreadAndMessage
            description: Update a specific message reply on a thread of a work order
            (oas-summary): Update a message reply by work order and thread
            body:
              application/json:
                type: fn-misc.ThreadMessage
                (oas-body-name): message
                description: Thread to update
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected Error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.Threads
                description: Thread
            queryParameters:
              acting_user_id:
                description: Acting user id
                required: false
                type: integer
            (oas-tags):
              - workorder
          delete:
            displayName: deleteByWorkOrderAndThreadAndMessage
            description: Deletes a message reply to a thread on a work order
            (oas-summary): Delete a message by work order and thread
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected Error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.Threads
                description: Thread
            queryParameters:
              acting_user_id:
                description: Acting user id
                required: false
                type: integer
            (oas-tags):
              - workorder
          get:
            displayName: getMessageByWorkOrderAndThreadAndMessage
            description: Update a specific message reply on a thread of a work order
            (oas-summary): Get a message reply by work order and thread
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected Error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.ThreadMessage
                description: Thread
            (oas-tags):
              - workorder
        post:
          displayName: replyByWorkOrderAndThread
          description: Create a Reply on a thread on a work order
          (oas-summary): Create a Reply on a thread on a work order
          body:
            application/json:
              type: fn-misc.ThreadMessage
              (oas-body-name): message
              description: Thread to update
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.Threads
              description: Success
          queryParameters:
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
      /lists:
        displayName: lists
        get:
          displayName: getThreadsByWorkOrder
          description: Get a list of threads for a given work order
          (oas-summary): Get Threads by Work Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected Error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.Lists
              description: threads
          (oas-tags):
            - workorder
      post:
        displayName: addThreadByWorkOrder
        description: Add a new thread on a given work order
        (oas-summary): Add a Thread on a work order
        body:
          application/json:
            type: fn-misc.ThreadMessage
            (oas-body-name): message
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Threads
            description: Success
        (oas-tags):
          - workorder
    /providers:
      displayName: providers
      '/{user_id}':
        displayName: '{user_id}'
        uriParameters:
          user_id:
            description: ID of provider
            required: true
            type: integer
        get:
          displayName: getProviderByWorkOrder
          description: Gets a single provider entry for a work order
          (oas-summary): Get Provider by Work Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: array
                  items:
                    type: fn-misc.User
              description: providers
          (oas-tags):
            - workorder
      get:
        displayName: getProvidersByWorkOrder
        description: Gets list of providers available for a work order
        (oas-summary): Get Providers by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            description: providers
        queryParameters:
          sticky:
            description: Sticky
            type: boolean
          default_view:
            description: Default view
            type: string
          view:
            description: View
            type: string
          list:
            description: list
            type: string
        (oas-tags):
          - workorder
    /custom_fields:
      displayName: custom_fields
      get:
        displayName: getCustomFieldsByWorKOrder
        description: Get a list of custom fields and their values for a work order.
        (oas-summary): Get Custom Fields by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.CustomFields
            description: Success
        (oas-tags):
          - workorder
      '/{custom_field_id}':
        displayName: '{custom_field_id}'
        uriParameters:
          custom_field_id:
            description: Custom field ID
            required: true
            type: integer
        get:
          displayName: getCustomFieldByWorkOrderAndCustomField
          description: Get a custom field by work order and custom field
          (oas-summary): Get Custom Field By Work Order And Custom Field
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.CustomField
              description: Success
          (oas-tags):
            - workorder
        put:
          displayName: updateCustomFieldByWorkOrderAndCustomField
          description: Update a custom field value on a work order
          (oas-summary): Update Custom Field by Work Order and Custom Field
          body:
            application/json:
              type: fn-misc.CustomField
              (oas-body-name): custom_field
              description: Custom field
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
    /tasks:
      displayName: tasks
      get:
        displayName: getTasksByWorkOrder
        description: Get a list of a work order's tasks
        (oas-summary): Get Tasks by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Tasks
            description: Success
        (oas-tags):
          - workorder
      put:
        displayName: updateTasksByWorkOrder
        description: Updates all the tasks in a work order
        (oas-summary): Update Tasks by Work Order
        body:
          application/json:
            type: object
            properties:
              tasks:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      type: fn-misc.Task
                    required: false
                required: false
            (oas-body-name): tasks
            description: JSON Model
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: Success
        (oas-tags):
          - workorder
      '/{task_id}':
        displayName: '{task_id}'
        uriParameters:
          task_id:
            description: Task id
            required: true
            type: integer
        put:
          displayName: updateTaskByWorkOrder
          description: Updates a work order's task
          (oas-summary): Update Task by Work Order
          body:
            application/json:
              type: fn-misc.Task
              (oas-body-name): task
              description: JSON Model
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        /reorder:
          displayName: reorder
          '/{position}':
            displayName: '{position}'
            '/{target_task_id}':
              displayName: '{target_task_id}'
              uriParameters:
                target_task_id:
                  description: Target task id
                  required: true
                  type: integer
              put:
                displayName: reorderTaskByWorkOrderAndTaskAndTargetTask
                description: Reorders a task associated with a work order to a position before or after a target task
                (oas-summary): Reorders Task by Work Order and Task and Target Task
                (oas-responses-default):
                  body:
                    application/json:
                      type: fn-misc.Error
                  description: Unexpected error
                responses:
                  '200':
                    body:
                      application/json:
                        type: fn-misc.WorkOrder
                    description: Success
        /alerts:
          displayName: alerts
          post:
            displayName: addAlertToWorkOrderAndTask
            description: Sets up an alert to be fired upon the completion of a task associated with a work order
            (oas-summary): Add Alert to Work Order and Task
            body:
              application/json:
                type: fn-misc.TaskAlert
                (oas-body-name): json
                description: JSON Model
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.WorkOrder
                description: Success
            (oas-tags):
              - workorder
          '/{alert_id}':
            displayName: '{alert_id}'
            uriParameters:
              alert_id:
                description: Alert id
                required: true
                type: integer
            delete:
              displayName: deleteAlertByWorkOrderAndTask
              description: Delete a single alert associated with a single task on a work order
              (oas-summary): Delete Alert by Work Order and Task
              (oas-responses-default):
                body:
                  application/json:
                    type: fn-misc.Error
                description: Unexpected error
              responses:
                '200':
                  body:
                    application/json:
                      type: fn-misc.WorkOrder
                  description: Success
          delete:
            displayName: deleteAlertsByWorkOrderAndTask
            description: Delete all alerts associated with a single task on a work order
            (oas-summary): Delete Alerts by Work Order and Task
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.WorkOrder
                description: Success
        get:
          displayName: getTaskByWorkOrder
          description: Get a task by work order
          (oas-summary): Get Task by Work Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.Task
              description: Success
          queryParameters:
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        /group:
          displayName: group
          '/{group}':
            displayName: '{group}'
            '/{destination}':
              displayName: '{destination}'
              uriParameters:
                destination:
                  description: beginning or end (position in new group)
                  required: true
                  type: string
                  enum:
                    - beginning
                    - end
              put:
                displayName: groupTaskByWorkOrderAndTask
                description: Regroups a task associated with a work order
                (oas-summary): Group Task by Work Order and Task
                (oas-responses-default):
                  body:
                    application/json:
                      type: fn-misc.Error
                  description: Unexpected error
                responses:
                  '200':
                    body:
                      application/json:
                        type: fn-misc.WorkOrder
                    description: Success
                (oas-tags):
                  - workorder
        delete:
          displayName: deleteTaskByWorkOrder
          description: Delete a work order's task
          (oas-summary): Delete Task by Work Order
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          (oas-tags):
            - workorder
      post:
        displayName: addTaskByWorkOrder
        description: Adds a task to a work order
        (oas-summary): Add Task by Work Order
        body:
          application/json:
            type: fn-misc.Task
            (oas-body-name): task
            description: JSON Model
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: Success
        (oas-tags):
          - workorder
    /expenses:
      displayName: expenses
      get:
        displayName: getExpensesByWorkOrder
        description: Get all expenses of a work order
        (oas-summary): Get Expenses By Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.Expenses
            description: Success
        (oas-tags):
          - workorder
      post:
        displayName: addExpenseByWorkOrder
        description: Adds an expense on a work order
        (oas-summary): Add Expense By Work order
        body:
          application/json:
            type: fn-misc.Expense
            (oas-body-name): expense
            description: Expense
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: Success
        queryParameters:
          async:
            description: Asynchronous
            required: false
            type: boolean
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      put:
        displayName: updateExpensesByWorkOrder
        description: Updates all the expenses in a work order
        (oas-summary): Update Expenses by Work Order
        body:
          application/json:
            type: object
            properties:
              expenses:
                type: object
                properties:
                  expenses:
                    type: array
                    items:
                      type: fn-misc.Expense
                    required: false
                required: false
            (oas-body-name): expenses
            description: JSON Model
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: Success
        (oas-tags):
          - workorder
      '/{expense_id}':
        displayName: '{expense_id}'
        uriParameters:
          expense_id:
            description: ID of expense
            required: true
            type: integer
        put:
          displayName: updateExpenseByWorkOrderAndExpense
          description: Update an Expense of a Work order
          (oas-summary): Update Expense by Work order and Expense
          body:
            application/json:
              type: fn-misc.Expense
              (oas-body-name): expense
              description: Expense
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            async:
              description: Asynchronous
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        delete:
          displayName: deleteExpenseByWorkOrderAndExpense
          description: Delete an expense from a work order
          (oas-summary): Delete Expense by Work Order and Expense
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            async:
              description: Asynchronous
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
    /attachments:
      displayName: attachments
      get:
        displayName: getAttachmentsByWorkOrder
        description: Gets a list of attachment folders which contain files and deliverables for the work order
        (oas-summary): Get Attachments by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.AttachmentFolders
            description: Success
        queryParameters:
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      '/{folder_id}':
        displayName: '{folder_id}'
        uriParameters:
          folder_id:
            description: Folder id
            required: true
            type: integer
        get:
          displayName: getFolderByWorkOrderAndFolder
          description: Gets an attachment folder and its contents
          (oas-summary): Get Folder by Work Order and Folder
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.AttachmentFolder
              description: Success
          queryParameters:
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        put:
          displayName: updateFolderByWorkOrderAndFolder
          description: Updates an attachment folder
          (oas-summary): Update Folder by Work Order and Folder
          body:
            application/json:
              type: fn-misc.AttachmentFolder
              (oas-body-name): folder
              description: Folder
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        '/{attachment_id}':
          displayName: '{attachment_id}'
          uriParameters:
            attachment_id:
              description: File id
              required: true
              type: integer
          get:
            displayName: getFileByWorkOrderAndFolderAndFile
            description: Gets an attachment folder and its contents
            (oas-summary): Get File by Work Order and Folder and File
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.Attachment
                description: Success
            queryParameters:
              acting_user_id:
                description: Acting user id
                required: false
                type: integer
            (oas-tags):
              - workorder
          delete:
            displayName: deleteAttachmentByWorkOrderAndFolderAndAttachment
            description: Deletes an attachment folder and its contents
            (oas-summary): Delete Attachment by Work Order and Folder and Attachment
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.WorkOrder
                description: Success
            queryParameters:
              async:
                description: Async
                required: false
                type: boolean
              acting_user_id:
                description: Acting user id
                required: false
                type: integer
            (oas-tags):
              - workorder
          put:
            displayName: updateAttachmentByWorkOrderAndFolderAndAttachment
            description: Updates an attachment folder and its contents
            (oas-summary): Update Attachment by Work Order and Folder and Attachment
            body:
              application/json:
                type: fn-misc.Attachment
                (oas-body-name): attachment
                description: Attachment
            (oas-responses-default):
              body:
                application/json:
                  type: fn-misc.Error
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: fn-misc.WorkOrder
                description: Success
            queryParameters:
              async:
                description: Async
                required: false
                type: boolean
              acting_user_id:
                description: Acting user id
                required: false
                type: integer
            (oas-tags):
              - workorder
        post:
          displayName: addAttachmentByWorkOrderAndFolder
          description: Uploads a file by an attachment folder
          (oas-summary): Add Attachment by Work Order and Folder
          body:
            application/json:
              properties:
                attachment:
                  description: Folder
                  required: true
                  type: string
                file:
                  description: File
                  required: true
                  type: file
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
            acting_user_id:
              description: Acting user id
              required: false
              type: integer
          (oas-tags):
            - workorder
        delete:
          displayName: deleteFolderByWorkOrderAndFolder
          description: Deletes an attachment folder
          (oas-summary): Delete Folder by Work Order and Folder
          (oas-responses-default):
            body:
              application/json:
                type: fn-misc.Error
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: fn-misc.WorkOrder
              description: Success
          queryParameters:
            async:
              description: Async
              required: false
              type: boolean
          (oas-tags):
            - workorder
      post:
        displayName: addFolderByWorkOrder
        description: Adds an attachment folder
        (oas-summary): Add Folder by Work Order
        body:
          application/json:
            type: fn-misc.AttachmentFolder
            (oas-body-name): folder
            description: Folder
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: Success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
    /publish:
      displayName: publish
      post:
        displayName: publishByWorkOrder
        description: |
          Publishes a work order to the marketplace where it can garner requests.
        (oas-summary): Publish by Work Order
        body:
          application/json:
            type: fn-misc.Publish
            (oas-body-name): body
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
      delete:
        displayName: unpublishByWorkOrder
        description: |
          Unpublishes a work order from the marketplace so that no requests or counter-offers can be made. Moves to draft unless it was also routed.
        (oas-summary): Unpublish by Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
    /approve:
      displayName: approve
      post:
        displayName: approveWorkOrderByWorkOrder
        description: Approves a completed work order and moves it to paid status
        (oas-summary): Approve Work Order By Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
      delete:
        displayName: unapproveWorkOrderByWorkOrder
        description: Unapproves a completed work order and moves it to work done status
        (oas-summary): Unapprove Work Order By Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
    /paid:
      displayName: paid
      post:
        displayName: paidWorkOrderByWorkOrder
        description: Paid a approved work order and moves it to paid status
        (oas-summary): Paid Work Order By Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
      delete:
        displayName: unpaidWorkOrderByWorkOrder
        description: Unpaid a paid work order and moves it to approved status
        (oas-summary): Unpaid Work Order By Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
        (oas-tags):
          - workorder
    get:
      displayName: getWorkOrderByWorkOrder
      description: Gets a work order by its id
      (oas-summary): Get Work Order by Work Order
      (oas-responses-default):
        body:
          application/json:
            type: fn-misc.Error
        description: Unexpected error
      responses:
        '200':
          body:
            application/json:
              type: fn-misc.WorkOrder
          description: work order
      queryParameters:
        acting_user_id:
          description: Acting user id
          required: false
          type: integer
      (oas-tags):
        - workorder
    /complete:
      displayName: complete
      post:
        displayName: completeWorkOrderByWorkOrder
        description: Marks a work order complete and moves it to work done status
        (oas-summary): Complete Work Order By Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: success
        queryParameters:
          async:
            description: Async
            required: false
            type: boolean
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
      delete:
        displayName: incompleteWorkOrderByWorkOrder
        description: Marks a work order incomplete and moves it to work done status
        (oas-summary): Incomplete Work Order By Work Order
        (oas-responses-default):
          body:
            application/json:
              type: fn-misc.Error
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: fn-misc.WorkOrder
            description: success
        queryParameters:
          reason:
            description: Reason
            required: false
            type: string
          async:
            description: Async
            required: false
            type: boolean
          acting_user_id:
            description: Acting user id
            required: false
            type: integer
        (oas-tags):
          - workorder
    /draft:
      displayName: draft
      delete:
        displayName: revertWorkOrderToDraftByWorkOrder
        description: |
[...]
